<div class="page-title">
    <h1><i class="fa fa-crop"></i>Place</h1>
</div>

<?php echo $this->partial('layout/partial/messages.phtml') ?>

<section class="content">
    <div class="wrapper newspaper-format">
        <div class="form-container">
            <form enctype="multipart/form-data" id="form-place" method="post" action="/place/save">
                <div class="form-content">
                <div class="row">
                    <div class="small-6 columns">
                        <label for="">
                            <span class="strong">Zona</span>
                            <select name="zone_id" id="zone_id">
                                <option>Selecione</option>
                                <?php foreach ($zones as $zone):?>
                                    <option value="<?php echo $zone['id']; ?>" <?php echo ($zone['id'] == $place['zone_id']) ? "selected" : "";?>><?php echo $zone['name'] ?></option>
                                <?php endforeach;?>
                            </select>
                        </label>
                        <label>
                            <span class="strong">Nome</span>
                            <small>*</small>
                            <input type="text" name="name" value="<?php echo ($place) ? $this->escapeHtml($place['name']) : ''; ?>">
                        </label>
                        <label>
                            <span class="strong">Endereço</span>
                            <small>*</small>
                            <input type="text" name="address" value="<?php echo ($place) ? $this->escapeHtml($place['address']) : ''; ?>">
                        </label>
                        <label>
                            <span class="strong">Número</span>
                            <small>*</small>
                            <input type="text" name="number" value="<?php echo ($place) ? $this->escapeHtml($place['number']) : ''; ?>">
                        </label>
                        <label>
                            <span class="strong">Cep</span>
                            <small>*</small>
                            <input type="text" name="cep" value="<?php echo ($place) ? $this->escapeHtml($place['cep']) : ''; ?>">
                        </label>
                        <label>
                            <span class="strong">Bairro</span>
                            <small>*</small>
                            <input type="text" name="district" value="<?php echo ($place) ? $this->escapeHtml($place['district']) : ''; ?>">
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <fieldset>
                            <legend>Site | Facebook</legend>

                            <label>
                                <span class="strong">Site</span>
                                <input type="text" name="site" value="<?php echo ($site) ? $this->escapeHtml($site) : ''; ?>">
                            </label>
                            <label>
                                <span class="strong">Facebook</span>
                                <input type="text" name="facebook" value="<?php echo ($facebook) ? $this->escapeHtml($facebook) : ''; ?>">
                            </label>
                        </fieldset>
                        <label>
                            <span class="strong">Imagem</span>
                            <div class="sub-content generic_upload_area" style="padding-bottom: 10px;  margin: 0; margin-bottom: 20px; height:210px;">
                                <div class="fileUpload button">
                                    <input type="file" id="file" name="file" accept="image/*" class="show-for-sr">
                                </div>
                                <?php if (!empty($place['image_id'])) : ?>
                                    <div><img src="<?php echo $place['show_image']; ?>" style="height: 130px;"></div>
                                <?php endif; ?>
                            </div>
                        </label>
                    </div>
                </div>
                
                <div class="form-footer">
                    <div class="row small-collapse">
                        <div class="small-12 columns">
                            <div class="form-actions">
                                <input type="hidden" name="id" value="<?php echo ($place) ? $place['id'] : 0; ?>"/>
                                <button id="place-form-btn" class="button right" type="submit">Salvar</button>
                                <a class="button secondary right" style="margin: 0 20px;" href="javascript:history.back()">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>

<?php
$this->headScript()->appendFile(
   '/vendor/requirejs/require.js', null, array('data-main' => 'pages/application/place/form')
);
?>
