.online-products {
    background: #FFF;
    margin: 25px 30px 105px 30px !important;
    border-radius: 5px;
}

span.required::after {
    content: ' *';
    display: inline-block;
    white-space: pre;
};

.weekday_field {
    text-align: right;
}

#weekday-placeholder table {
    border: none;
    thead {
         background-color: #add8e6;
         td {
             border: solid 1px #CCC;
         }
         span {
             font-weight: normal;
         }
    }
    tbody {
        td {
            border-width:  0 0 1px 1px;
            border-style: solid;
            border-color: #DDD;  
        }
        td:last-child {
            border-right: 1px;
            border-style: solid;
            border-color: #DDD;  
        }
    }
    .disabled {
        background: #EEE;
    }
}

.online-products fieldset {
    padding: 15px;
    margin: 0;
    border: solid #ddd;
    border-width: 0 0 1px 0; 
}

.online-products .strong {
    font-size: 1rem;
    font-weight: bold;
    color: #4d4d4d;
}

.online-products .chosen-container,
.online-products .chosen-container-multi {
    margin: 0 0 1rem 0
}

.online-products span.strong {
    margin: 0 0 3px 3px;
    display: inline-block;
}

.online-products form > div.row {
    padding: 15px;
}

label.text-center {
    text-align: center;
}

label.middle {
    margin: 0 0 1rem;
    padding: 0.5625rem 0;
}

.online-products #price {
    text-align: right;
}

.online-products .summary-wrapper {
    border: solid 1px #DDD;
    padding: 1rem;
}

.online-products .box {
    border: solid 1px #DDD;
    padding: 10px;
    margin-bottom: 30px;
}

.online-products .label-list {
    line-height: 2rem;
}

.online-products .label {
    border-radius: 3px !important;
    font-size: 0.85em;
    margin-right: 5px;
    padding: 3px 7px;
    line-height: 1.3rem;
    box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);
}

.online-products .term,
.online-products .value {
    font-size: 0.875rem;
    margin-bottom: 10px;
    text-align: right;
    line-height: 1.6rem;
    padding: 0 5px !important;
}

.online-products .value {
    padding: 0 10px !important;
    font-size: 0.775rem;
    background-color: #EEE;
    strong {
        float: left;
    }
}