#wrapper_content {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

#sidebar {
    width:245px;
    display: table-cell;
    vertical-align: top;
}

#main_content {
    display: table-cell;
}

#main_content .page-title {
    width:100%;
    h1
    {
        font-size: 1.6em;
    }
}

.content-wrapper {

    .content {

        float: left;
        width:100%;

        .wrapper {
            margin: 25px 10px 73px 10px;
        }
    }

}

.page-title {

    float: left;
    height: 60px;
    line-height: 60px;
    padding: 6px 25px 0 25px;
    background-color: $menu-bg-color !important;
    width:100%;

    h1 {
        height: 50px;
        line-height: 50px;
        margin: 0;
        padding: 0;
        font-size: 1.1em;
        color: #fff;
        font-weight: $font-weight;

        i
        {
            margin-right: 5px;
        }
    }

}

.welcome-message {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 30px;

    * {
        margin: 0;
        padding: 0;
        font-weight: $font-weight;
        text-shadow: 1px 1px 0 #fff;
        user-select: none;
    }

    h1 {
        color: #555;
        b {
            color: #333;
            font-weight: 400;
        }
    }

    h2 {
        color: #777;
    }
}

