//
// Login Styles
//

body {

    &.login {

        background-color: #111;
        background-image: url($login-page-background);

        ::-webkit-input-placeholder {
            color: $login-elements-color;
        }

        :-moz-placeholder {
           color: $login-elements-color;
           opacity: 1;
        }

        ::-moz-placeholder {
           color: $login-elements-color;
           opacity: 1;
        }

        :-ms-input-placeholder {
           color: $login-elements-color;
        }

    }

}

.login-container,
.password-recovery-container,
.sign-up-container {

    .logo {
        position: relative;
        margin: 0 auto;
        width: 132px;
        height: 40px;
        margin-bottom: 60px;
        background-image: url($app-logo);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: 1px solid $login-elements-color;
        background-color: transparent;
        margin: 0;
        margin-bottom: 30px;
        font-size: 1.3em;
        color: $login-elements-color;
        letter-spacing: 0.05em;
        padding: 0 45px 0 15px;
        box-shadow: none;
    }

    .fi-torso,
    .fi-lock,
    .fi-mail {
        position: absolute;
        top: 2px;
        right: 15px;
        color: $login-elements-color;
        font-size: 1.9em;
    }

    .fi-lock {
        font-size: 1.8em;
        top: 4px;
    }

    button {

        width: 100px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #ccc;
        background-color: transparent !important;
        color: #ccc;
        font-size: 1.2em;
        padding: 0;
        margin: 0;
        margin: 0 10px;
        transition: all 0.3s ease;

        &.success {

            border-color: $success-color;
            color: $success-color;

            &:hover {
                border: 1px solid $success-color-hover;
                color: $success-color-hover;
                background-color: transparent !important;
            }

        }

        &.warning {

            border-color: $alert-color;
            color: $alert-color;

            &:hover {
                border: 1px solid $alert-color-hover;
                color: $alert-color-hover;
                background-color: transparent !important;
            }

        }

    }

    .password-recovery {

        display: inline-block;
        color: darken($login-elements-color, 50%);
        font-size: 1.2em;
        margin-top: 30px;
        letter-spacing: 0.05em;
        transition: all 0.3s ease;

        &:hover {
            color: $brand-main-color;
        }

    }

    .sign-up {

        display: block;
        font-size: 1.2em;
        margin-top: 10px;
        color: darken($brand-main-color, 10%);
        transition: all 0.3s ease;

        &:hover {
            color: $brand-main-color;
        }

    }

}

.login-container {

    position: absolute;
    width: 400px;
    height: 393px;
    top: 50%;
    left: 50%;
    margin: -206px 0 0 -200px;
    text-align: center;

}

.password-recovery-container {

    display: none;
    position: absolute;
    width: 630px;
    height: 330px;
    top: 50%;
    left: 50%;
    margin: -165px 0 0 -315px;
    text-align: center;

    .instructions {
        display: block;
        color: $login-elements-color;
        margin: 0 0 50px 0;
        font-size: 0.95em;
        text-align: center;
    }

}

.sign-up-container {

    display: none;
    position: absolute;
    width: 1000px;
    height: 100%;
    left: 50%;
    margin-left: -500px;

    .logo { margin-top: 100px; }

    .step-one {

        position: absolute;
        width: 1000px;
        height: 110px;
        top: 50%;
        margin-top: -55px;
        text-align: center;
        color: #fff;

        h3 {
            color: #fff;
            font-weight: $font-weight;
            font-size: 1.25em;
            margin: 0 0 30px 0;
            padding: 0;
        }

        span {
            display: inline-block;
            margin: 0 10px;
            font-size: 1.3em;
        }

        a {
            width: 100px;
            height: 40px;
            line-height: 40px;
            border: 1px solid $brand-main-color;
            background-color: transparent !important;
            color: $brand-main-color;
            font-size: 1.2em;
            padding: 10px 20px;
            margin: 0;
            margin: 0 10px;
            transition: all 0.3s ease;
        }

    }

}

.sign-up-form {

    display: none;
    position: absolute;
    width: 1000px;
    height: 400px;
    top: 50%;
    margin-top: -200px;

    button { margin: 0; }

    input[type="text"],
    input[type="password"] {
        float: left;
        width: auto;
        height: 40px;
        line-height: 40px;
        font-size: 1em;
        padding: 0 10px;
        margin: 0 0 22px 0;
    }

    h3 {

        color: $brand-main-color;
        font-size: 1.3em;
        margin: 30px 0;

    }

    input {

        &.cpf-cnpj { width: 185px; margin-right: 22px }
        &.ie { width: 185px; margin-right: 22px }
        &.razao_social { width: 792px; }
        &.telefone { width: 192px; }
        &.endereco { width: 502px; margin-right: 22px }
        &.cep { width: 170px; margin-right: 22px }
        &.estado { width: 90px; margin-right: 22px }
        &.cidade { width: 170px; }
        &.email { width: 487px; margin-right: 22px }
        &.nome_completo { width: 490px; }
        &.senha { width: 347px; margin-right: 22px }
        &.confirmacao_senha { width: 347px; margin-right: 22px }

    }

    .success {
        width: 140px;
        margin-right: 17px;
    }

    .warning {
        width: 100px;
    }

    .type {

        float: right;
        margin-top: 33px;
        color: #999;

        span {
            color: #999;
            margin: 0 7px;
        }

        a {

            display: inline-block;
            color: #ccc;
            transition: all 0.3s ease;

            .icon {

                float: left;
                margin: 4px 5px 0 0;
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1px solid #fff;
                border-radius: 50%;
                transition: all 0.3s ease;

            }

            &:first-child {
                margin-left: 10px;
            }

            &.active,
            &:hover {

                color: $brand-main-color;

                .icon {
                    background-color: $brand-main-color;
                    box-shadow: 0 0 0 2px #000 inset;
                }

            }

        }

    }

}
