//
// Report Styles
//

.reports-container {

    table {
        margin: 20px 0 0 0;
        border-radius: 3px;
    }

    .report {

        border: 1px solid #e4dddd;
        border-radius: 3px;
        padding: 20px;
        margin: 15px 0;

    }

    .report-header {

        .title {

            font-size: 1.2em;
            color: #aaa;
            margin: 7px 0 0 0;

            i, b {
                color: #666;
            }

            i {
                margin-right: 10px;
            }

        }

        .total-price {

            color: #444;

            span {
                display: inline-block;
                background-color: #ccc;
                font-size: 1.1em;
                font-weight: bold;
                padding: 5px 10px;
                margin-left: 15px;
                border-radius: 3px;
            }

        }

    }

    .report-content {

        display: none;
        margin-top: 25px;
        border-top: 1px solid #eee;

        .campaign {

            margin: 30px 0;

            .info {

                .title {
                    display: block;
                    font-size: 1.1em;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .sub-title {
                    display: block;
                    font-size: 1em;
                }

            }

        }

    }

    .negotiation_online:before {
        @extend .fi-monitor:before;
    }

    .bid_online:before {
        @extend .fi-price-tag:before;
    }

    .negotiation_offline:before {
        @extend .fi-ticket:before;
    }

    .bid_offline:before {
        @extend .fi-price-tag:before;
    }

    .negotiation_online:before,
    .bid_online:before,
    .negotiation_offline:before,
    .bid_offline:before {
        margin-right: 5px;
        font-size: 1.2em;
    }


}

.total-report-price {

    margin-left: 20px;
    padding: 5px 20px;
    background-color: rgb(165, 250, 191);
    font-size: 1.2em;

    b {
        margin-left: 20px;
    }

}
