.history {

}

.history_header {
    background-color: #F1F1F1;
    padding: 10px 12px;
    font-weight: bold;
    font-size: .8rem;
}

.history_content {
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: #F1F1F1;
    padding: 15px;
}

.history_row {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    .displayer {
        padding-left: 0;
    }
    .displayer_value {
        padding: 0 10px;
        line-height: 2.4rem;
        width: 100%;
        font-size: 0.9rem;
        box-sizing: border-box;
    }
    .displayer--action {
        .displayer_value {
            padding: 0; 
            background-color: transparent;
            text-align: left;
        }
        .button {
            padding: 6px 8px;
            font-size: 1.3rem;
            background-color: #FFCF00;
            color: #000000;
        }
    }
    .displayer--discount {
        width: 92px;
        .displayer_label {
            margin-right: 0;
        }
    }
    .displayer--date {
        width: 110px;
    }
}