.negotiation .accordion--line-item {
    margin-bottom: 15px;
    .accordion_header {
        background-color: #F1F1F1;
        padding: 10px 20px;
        height: 68px;
        .name {
            font-size: .9rem;
        }
        .accordion_switch {
            margin-top: 4px;
        }
    }
    .accordion_header_content {
        width: 860px;
        text-align: right;
        .button {
            text-transform: lowercase;
            font-size: 1rem;
            margin-left: 10px;
            float: none !important;
            &:first-child {
                margin-left: 0;
            }
        }
        .name {
            width: 180px;
            display: inline-block;
            vertical-align: top;
            margin-top: 4px;
        }
        .table-price  {
            display: inline-block;
            vertical-align: top;
            width: 230px;
            height: 48px;
            text-align: left;
        }
        .buttons {
            float: right;
            font-size: 0;
            text-align: right;
            width: 310px;
            margin-top: 4px;
        }
        .displayer_label {
            line-height: 11px;
            width: 215px;
            text-align: left;
            margin-right: 0;
            margin-bottom: 5px;
        }
        .displayer_value {
            font-size: 0.9rem;
            background-color: #CCC;
            width: 215px;
            padding: 0 20px;
            line-height: 1.8rem;
        }

    }
    .accordion_content {
        border-style: solid;
        border-width: 0 3px 3px 3px;
        border-color: #F1F1F1; 
        padding: 10px 15px;
    }
}