.status {
    line-height: 1rem;
    text-align: left;
    font-size: 0.85rem;
}
.status .displayer_label,
.status .displayer_value {
    font-size: 0.85rem;
    line-height: 20px;
    text-transform: lowercase;
}
.status .displayer_label {
    padding: 0px 5px 5px 5px;
    line-height: 1em;
}
.status .displayer_value {
    display: block;
    padding: 0 5px;
    text-align: left;
    color: #FFF;
    background-color: #ACACAC;
}
.status--reprovada .displayer_value { 
    background-color: #EE1C25;
}
.status--aprovada .displayer_value { 
    background-color: #7CC475;
}
.status--expirada .displayer_value { 
    background-color: #ACACAC;
}
.status--recebida .displayer_value { 
    background-color: #A862AA;
}
.status--enviada .displayer_value { 
    background-color: #438CCA;
}