<div class="page-title">
    <h1><i class="fa fa-crop"></i>Categoria</h1>
</div>

<?php echo $this->partial('layout/partial/messages.phtml') ?>

<section class="content">
    <div class="wrapper newspaper-format">
        <div class="form-container">
            <form id="form-category" method="post" action="/category/save">
                <div class="form-content">
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            <span class="strong">Nome</span>
                            <small>*</small>
                            <input type="text" name="name" placeholder="nome" value="<?php echo ($category) ? $this->escapeHtml($category['name']) : ''; ?>">
                        </label>
                    </div>
                </div>
                
                <div class="form-footer">
                    <div class="row small-collapse">
                        <div class="small-12 columns">
                            <div class="form-actions">
                                <input type="hidden" name="id" value="<?php echo ($category) ? $category['id'] : 0; ?>"/>
                                <button id="category-form-btn" class="button right" type="submit">Salvar</button>
                                <a class="button secondary right" style="margin: 0 20px;" href="javascript:history.back()">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>

<?php
$this->headScript()->appendFile(
   '/vendor/requirejs/require.js', null, array('data-main' => 'pages/application/category/form')
);
?>
