<div class="page-title">
    <h1><i class="fa fa-microphone"></i> Categorias</h1>
</div>
<?php echo $this->partial('layout/partial/messages.phtml');?>
<section class="content">
    <div class="wrapper">
        <div class="row collapse">
            <div class="small-12 columns">
                <div class="table-container datatable">
                    <div class="table-header">
                        <div class="custom-form">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <a href="category/form/" class="button success"> Adicionar Categoria</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <?php if (count($categories)): ?>
                        <div class="table-content">
                            <table id="datatable" class="cell-border row-border stripe hover no-footer" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>nome</th>
                                        <th style="width:90px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    foreach ($categories as $category) :
                                        ?>
                                        <tr>
                                            <td><?php echo $category['id'] ?></td>
                                            <td><?php echo $category['name'] ?></td>
                                            <td class="ta_right">
                                                <a href="category/form/<?php echo $category['id'] ?>" title="Editar" class="button radius btn_edit"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                        <?php
                                    endforeach;
                                    ?>
                                </tbody>
                            </table>
                        <?php else: ?>
                            <div class="text-center alert-box warning radius">
                                Nenhuma categoria cadastrada.
                            </div>
                        <?php endif; ?>
                    </div>

                  </div>
            </div>
        </div>
    </div>
</section>
<?php

    $this->headScript()->appendFile(
        '/vendor/requirejs/require.js',
        null,
        array('data-main' => 'pages/application/dashboard/index')
    );

?>
