.creatives-header
{
    background-color: #FFF;
    border-bottom: 1px solid #DDDDDD;
    padding: 20px;
    margin-botton:20px;

    input
    {
        background-color:#EBEBEB !important;
        border:none;
    }
}

.creative-dt-container
{
    border-radius: 5px;
    overflow: hidden;
    margin-bottom:20px;
}

.creatives-container
{
    background-color:#FFF;
}

.creatives-list
{
    background-color:#FFF;

    & .list
    {
        margin: 0 0 20px 0 !important;
        //padding: 12px !important;
        border: 1px dashed #008CBA;

        label.th
        {
            display: inline;
        }

        label
        {
           &.creative-status-1
            {
                //'Enviada'
                background-color: #FFAF00;
                color: #FFF;
                display: inline-block;
                padding-left: 7px;
                padding-right: 7px;
                font-size: 0.9em;
            }
            &.creative-status-2
            {
                //'Aprovada'
                background-color: #7CC475;
                color: #FFF;
                display: inline-block;
                padding-left: 7px;
                padding-right: 7px;
                font-size: 0.9em;
            }
            &.creative-status-3
            {
                //'Recusada'
                background-color: #EE1B24;
                color: #FFF;
                display: inline-block;
                padding-left: 7px;
                padding-right: 7px;
                font-size: 0.9em;
            }
        }

        a.actions
        {
            color:#000;
            font-size:1.7em;
        }

        select
        {
            margin: 0 0px 0px 0px;
            border-radius: 5px;
            box-shadow: -1px 1px 7px rgba(204,204,204,0.5) inset;
            width: 130px;
        }

        table.negotiation
        {
            width: 100%;
            margin: 0;
            border:none;
            border-collapse: collapse;

            th
            {
                label
                {
                    font-weight: bold;
                }
            }
            th, td
            {
                padding: 10px 0px 0px 10px !important;
                border-collapse: collapse;
                border:none;

            }

            th:nth-child(3) {
                background-color:#EBF8FB;
            }
            th:nth-child(4) {
                width:85px !important;
                text-align:center;
            }

            tr
            {
                background: none !important;

                &.cdetails
                {
                    td
                    {
                       padding: 10px !important;
                    }

                    td:nth-child(2) {
                        width:120px !important;
                    }
                    td:nth-child(3) {
                        width:175px !important;
                        background-color:#EBF8FB;
                    }

                    div.ct
                    {
                        background-color:#ECEDF0;
                        padding:9px;
                    }
                }
            }
        }

        table.auction
        {
            width: 100%;
            margin: 0;
            border:none;
            border-collapse: collapse;

            th
            {
                label
                {
                    font-weight: bold;
                }
            }
            th, td
            {
                padding: 10px 0px 0px 10px !important;
                border-collapse: collapse;
                border:none;

            }

            th:nth-child(3) {
                width:85px !important;
                text-align:center;
            }

            tr
            {
                background: none !important;

                &.cdetails
                {
                    td
                    {
                       padding: 10px !important;
                    }

                    td:nth-child(2) {
                        width:120px !important;
                    }
                    td:nth-child(3) {
                        width:175px !important;
                        background-color:#EBF8FB;
                    }

                    div.ct
                    {
                        background-color:#ECEDF0;
                        padding:9px;
                    }
                }
            }
        }
    }

}

#creative_upload_area
{
    margin-top:20px;

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.generic_upload_area
{
     .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.creative-prop
{
    margin: 15px;
    border: 1px dashed #008BBC;
}



