.login-footer {

    position: fixed;
    width: 100%;
    bottom: 100px;
    text-align: center;
    color: darken(#999, 25%);
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 0.05em;

}
