

//
// Form Modal
//

.form-modal {

    .title {
        margin-left: 0;
        color: #333;
        font-size: 1.8em;
    }

    .form-container {
        margin: 0 !important;
    }

    .form-content {

        padding: 0 !important;


        input[type="text"] {
            margin-bottom: 1.3rem;
        }

        .hide-field { display: none; }

        .radio-group {

            text-align: center;
            height: 70px;
            line-height: 70px;
            border-radius: $default-border-radius;
            background-color: #f5f5f5;
            border: 1px solid #ccc;

            label {
                margin: 2px 0 0 0;
                font-size: 0.8em;
            }

            span {
                display: inline-block;
                margin: 0;
                margin-right: 10px;
                font-size: 1.1em;
            }

            b {
                margin: 0 10px;
                font-weight: normal;
                font-size: 0.7em;
            }

            input[type="radio"] {
                cursor: pointer;
            }

        }

    }

    .form-footer {

        margin-top: 20px;
        padding: 0;
        border-top: 0;

        .button {
            margin-right: 0px;
        }

    }

}
