//
// Main Header Styles
//

.main-header {

    height: 95px;
    padding: 25px;
    background-color: $header-bg-color;
    border-bottom: 5px solid $brand-main-color;
    user-select: none;

    .logo {
        width: 300px;
        height: 40px;
        background-image: url($app-logo);
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .user-info {
        text-align: left;
        min-width: 175px;
        color: #FFF;
        cursor: pointer;
        padding: 4px 20px 4px 5px;
        display: inline-block;
        background: $header-dropdown-bg-color;

    }

    #user_p_menu
    {
        text-align:right;

        .profile
        {
            background-color:$menu-bg-color;
            color:$brand-main-color;
            padding: 9px 6px 8px 7px;
            margin-right:5px;
            display:inline;
            font-weight:bold;
            font-size: 0.8em;
            line-height: 3.8em;
        }

        .u_detail
        {
            color:$brand-main-color;
            margin-right:5px;
            display:inline;
            font-weight:bold;
            position:relative;
            cursor:pointer;
        }

        .carret-down
        {
            display:inline-block;
            background-color:#4F4F4F;
            padding: 4px 10px 4px 11px;
            color:#FFF;

            &:hover
            {
                color:$brand-main-color;
            }
        }
    }

    .user-actions {

        display: none;
        position: absolute;
        top: 24px;
        left: 0px;
        width: 100%;
        background-color: #000 !important;
        z-index: 9999;
        text-align:left;

        ul
        {
            margin-left:0;
            margin-bottom: -5px;
        }

        li
        {
            list-style: none;
            background-color: #ccc;
            margin-bottom: 2px;
            font-size: 0.8em;
            font-weight: bold;
            padding:1px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover
            {
                background-color:$brand-main-color;
                color:$menu-items-hover-color !important;
            }
        }

        hr {
            margin: 10px 0;
        }

        a {

            display: block;
            font-size: 1em;
            color: $header-dropdown-link-color;
            margin: 5px 0 5px 15px;

            &:hover {
                color:$menu-items-hover-color !important;
            }

            i {
                font-size: 1.2em;
                margin-right: 5px;
            }

        }

    }

}
