#message-panel, div.m-message-panel{
    background:#FFF;
    position:fixed;
    right:0;
    top:155px;
    left:245px;
    z-index:100;
    .message{
        display:none;
        padding:5px 15px;
        border:3px solid;
        float:left;
        width:100%;
        span{
            color:#333;
            vertical-align:text-bottom;
        }
    }
    .error{
        border-color:#f00;
        color:#f00;
    }
    .success{
        border-color:#359C32;
        color:#359C32;
    }
    .warning{
        border-color:#f93;
        color:#f93;
    }
    .close{
        color:#000;
        cursor: pointer;
        *cursor: hand;
    }
}

div.m-message-panel
{
   position:relative;
   top:0;right:0;left:0;
}

#confirmation{    
    .close-confirmation-negative{
        font-size: 1rem;
        line-height: 1;
        position: absolute;
        top: 0.625rem;
        right: 1.375rem;
        color:#000;
        font-weight: bold;
        cursor: pointer;    
    }

    #confirmation-title{
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1;
    }

    button{
        padding-top: 0.7rem;
        padding-right: 1.5rem;
        padding-bottom: 0.7rem;
        padding-left: 1.5rem;
        border-radius: 5px;
        margin:0;
    }

    button.confirmation-negative{
        background-color:#000;
        border-color:#000;
    }

}
