$default-box-background:#F1F1F1;

//BLOCO DE ESTILOS DAS TABELAS DA TELA DE NEGOCIAÇÃO

//Variaveis para elementos de tabela de lista de negociação
$id-col-fixed-width:105px !important;
$type-col-fixed-width:63px !important;
$periods-col-fixed-width:195px !important;
$status-col-fixed-width:200px !important;;
$actions-col-fixed-width:145px !important;
$color-negotiations-list:#333333;

.bid-header
{
    background-color: #FFF;
    border-bottom: 1px solid #DDDDDD;
    padding: 20px;
    margin-bottom:20px;

    input
    {
        background-color:#EBEBEB !important;
        border:none;
    }
}

.bid-container
{
    border-radius: 5px;
    margin: 0 15px !important;
    overflow: hidden;

    .bids-list
    {
        background-color:#FFF;

        .list
        {
            padding: 0px 20px 20px 20px;
            overflow:auto;
        }

        .header
        {
            margin-top: 20px;
            padding:20px;
            overflow:auto;

            h4 span
            {
                color: #2faaf9 !important;
            }

            h6
            {
                margin-bottom: 1px;

                small
                {
                    font-size: 80%;
                    font-weight: bold;
                }
            }

            .btn-sep
            {
                display: inline-block;
                margin: 7px;
            }

            .search-f
            {
                display:inline-block;
            }

            .new-act
            {
                display: inline-block;
                float: right;

                .a-prop
                {
                    display:inline-block;
                    margin-right:45px;
                }

                .a-bid
                {
                    display:inline-block;
                }

                .a-btn-w
                {
                    border: 1px solid #ccc;
                    padding: 8px;
                    width:270px;
                }
            }
        }

        .tb_labels
        {

            width:100%;
            border-spacing:0;
            border:none;
            margin-bottom:8px;

            tr
            {
                td
                {
                    padding:1px !important;
                }
                &.hnl
                {
                    th
                    {
                        background-color:#F4F7F7;
                        color:#898989;
                        border-top:1px solid #E1E1E1;
                        border-bottom:1px solid #E1E1E1;
                    }

                    :nth-of-type(1)
                    {
                        width: $id-col-fixed-width;
                        text-align:center;
                        border-left:1px solid #E1E1E1;
                    }
                    :nth-of-type(2)
                    {
                        width:$type-col-fixed-width;
                    }
                    :nth-of-type(3)
                    {
                        padding: 5px !important;
                    }
                    :nth-of-type(4)
                    {
                        width:$periods-col-fixed-width;
                    }
                    :nth-of-type(5)
                    {
                        width:$status-col-fixed-width;
                    }
                    :nth-of-type(6)
                    {
                        width:$actions-col-fixed-width;
                        border-right:1px solid #E1E1E1;
                        text-align:right !important;
                    }
                }
            }
        }

        .negotiations_list
        {
            width:100%;
            border-spacing:0;
            border:none;

            tr
            {
                td
                {
                    padding:5px !important;
                    color:$color-negotiations-list !important;
                }
                &.hnl
                {
                    td
                    {
                        color:#191919;
                        font-weight:bold;
                        border-top:1px solid #E1E1E1;
                        border-bottom:1px solid #E1E1E1;
                    }

                    & td:nth-of-type(1)
                    {
                        width:$id-col-fixed-width;
                        border-left:1px solid #E1E1E1;
                    }
                    & td:nth-of-type(2)
                    {
                        width:$type-col-fixed-width;
                    }
                    & td:nth-of-type(4)
                    {
                        width:$periods-col-fixed-width;
                    }
                    & td:nth-of-type(5)
                    {
                        width:$status-col-fixed-width;

                        .act-bid-st
                        {
                            float:left;
                            margin-top: 9px;
                        }
                        select
                        {
                            margin: 0 0px 0px 10px;
                            border-radius: 5px;
                            box-shadow: -1px 1px 7px rgba(204,204,204,0.5) inset;
                            width: 110px;
                        }
                    }
                    & td:nth-of-type(6)
                    {
                        width:$actions-col-fixed-width;
                        border-right:1px solid #E1E1E1;
                        text-align:right !important;
                    }
                }
            }

            .ln_details
            {
                border:1px solid #E1E1E1;
                padding:0px !important;
            }

            .st-highl
            {
                background-color:#EBEBEB;
            }
        }
    }

    .type-bid-ico
    {
        @extend .fa-gavel;
        font-size:1.3em;
        cursor:help;
    }

    .type-negotiation-ico
    {
        @extend .fa-certificate;
        font-size: 1.5em;
        cursor:help;
    }

    .media-online-ico
    {
        @extend .fa-desktop;
        font-size: 1.3em;
        cursor:help;
    }

    .media-offline-ico
    {
        @extend .fa-newspaper-o;
        font-size: 1.3em;
        cursor:help;
    }
}

label
{
    &.status
    {
        cursor:default;
    }

    &.bid-status-1
    {
        //'Não Enviada'
        background-color: #FFAF00;
        color: #FFF;
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 0.9em;
    }
    &.bid-status-2
    {
        //Recebida - 'Negociação - Publisher'
        background-color: #A764A9;
        color: #FFF;
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 0.9em;
    }
    &.bid-status-3
    {
        //Enviada - 'Negociação - Agência'
        background-color: #448CCB;
        color: #FFF;
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 0.9em;
    }
    &.bid-status-4
    {
        //'Aprovada'
        background-color: #7CC475;
        color: #FFF;
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 0.9em;
    }
    &.bid-status-5
    {
        //'Recusada'
        background-color: #EE1B24;
        color: #FFF;
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 0.9em;
    }
    &.bid-status-6
    {
        //'Expirada'
        background-color: #DDD;
        color: #FFF;
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 0.9em;
    }
}

//BLOCO DE ESTILOS DAS TABELAS DA TELA DE NEGOCIAÇÃO


.def_bg
{
    background-color:$default-box-background;
}

.data_detail_item_box
{
    background-color:$default-box-background;
    padding:10px;
    margin-bottom:5px;

    .desc_details
    {
        padding:10px;
    }

    h6
    {
        font-size: 1em;
        font-weight: bold;
    }

    .channel-info
    {
        display:inline-block;
        background-color:#fff;
        padding:9px;
        border-radius:3px;
        cursor:pointer;
    }

    .info-element
    {
        @extend .channel-info;
        cursor:default;
    }

    .lt-date
    {
        display:inline-block;
        background-color:#fff;
        padding:9px;
        border-radius:3px;
        width:133px;
        margin-bottom:3px;

        input[type="file"], input[type="checkbox"], input[type="radio"], select
        {
            margin:auto !important;
        }
    }


}

.negotiations_list
{
    .info-ico
    {
        color:#008BBC;
        font-size: 1.5em;
        vertical-align: middle;
        cursor:pointer;
    }

    .pop_resume
    {
        padding:5px !important;
        background-color: #FFF;
    }

    table.tab-detail-items
    {
        width:100%;
        border:0;
        background: #F1F1F1;
        padding: 0px !important;
        border-collapse: collapse;

        & td:nth-of-type(1)
        {
            border-right: 5px solid #FFF;
        }
    }
}


table.negotiation_data
{
    width:100%;
    border:none;
    margin:0;

    & tr, & td
    {
        background-color:#FFF;
    }

    .def_desc
    {
        padding:9px;
        border-radius:3px;
    }

    .number_data
    {
        text-align:right;
    }
}

table.history_elements
{
    width:100%;
    border:none;

    .data_col
    {
        background-color:#F1F1F1;
        padding:7px !important;
        position:relative;
    }

    .number_data
    {
        text-align:right;
    }

    .more_det
    {
        background-color: #FFF !important;
    }

    .pop_comments
    {
        display:none;
    }
}


