//
// Notifications Styles
//

.sys_notifications {

    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9999;
    left: 0;
    margin: auto;
    width: 500px;

    .message {

        display: none;
        position: relative;
        float: right;
        margin: 50px 50px 0 0;
        border-radius: $default-border-radius;
        box-shadow: 0 0 10px rgba(#000, 0.5);

        &.success {
            background-color: rgba($success-color, 1);
            display: none;
            width: 520px;
            float: left;
        }

        &.error {
            background-color: rgba($alert-color, 1);
        }
        &.loading {

            height: 95px;
            background-color: rgba($inactive-color, 1);
            display:block;
            .icon {
                margin-top: 5px;
            }

        }

        .close {

            float: right;
            margin: 10px 15px 0 0;
            color: rgba(#fff, 0.5) !important;
            transition: all 0.5s ease;

            &:hover {
                color: rgba(#fff, 1) !important;
            }

        }

        .icon {
            float: left;
            padding: 20px 20px 20px 25px;
            color: #fff;
        }

        .info {
            width: 350px;
            float: left;
            padding: 20px 20px 20px 25px;
            color: #fff;
            padding-left: 0;
            padding-right: 25px;
        }

        i.rounded {
            display: block;
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            font-size: 2em;
            border: 1px solid #fff;
            border-radius: 50%;
        }

        h3 {
            display: block;
            margin: 13px 0 0 0;
            padding: 0;
            font-size: 1.2em;
            line-height: 0.7em;
            color: #fff;
        }

        span {
            display: inline-block;
            margin: 0;
            padding: 0;
            font-size: 0.8em;
        }

    }

}

.notifications {

    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;

    .message {

        display: none;
        position: relative;
        float: right;
        margin: 50px 50px 0 0;
        border-radius: $default-border-radius;
        box-shadow: 0 0 10px rgba(#000, 0.5);

        &.success {
            background-color: rgba($success-color, 0.8);
        }

        &.error {
            background-color: rgba($alert-color, 0.8);
        }

        &.loading {

            height: 95px;
            background-color: rgba($inactive-color, 0.8);

            .icon {
                margin-top: 5px;
            }

        }

        .close {

            float: right;
            margin: 10px 15px 0 0;
            color: rgba(#fff, 0.5) !important;
            transition: all 0.5s ease;

            &:hover {
                color: rgba(#fff, 1) !important;
            }

        }

        .icon, .info {
            float: left;
            padding: 20px 20px 20px 25px;
            color: #fff;
        }

        .info {
            padding-left: 0;
            padding-right: 25px;
        }

        i.rounded {
            display: block;
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            font-size: 2em;
            border: 1px solid #fff;
            border-radius: 50%;
        }

        h3 {
            display: block;
            margin: 13px 0 0 0;
            padding: 0;
            font-size: 1.2em;
            line-height: 0.7em;
            color: #fff;
        }

        span {
            display: inline-block;
            margin: 0;
            padding: 0;
            font-size: 0.8em;
        }

    }

}


//
// CSS3 Loader
//

@mixin size($width , $height: $width ) {
    width: $width;
    height: $height;
}

@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacityIE: $opacity * 100;
    filter: alpha(opacity=$opacityIE);
}

@mixin animation($animation...) {
    -o-animation: $animation;
    -moz-animation: $animation;
    -webkit-animation: $animation;
    animation: $animation;
}

.loader {
    display: inline-block;
    position: relative;
    @include size(45px);
    vertical-align: middle;
}

.loader-quart {

    border-radius: 50px;
    border: 6px solid rgba(255,255,255,0.4);

    &:after {
        content: '';
        @include absPosition(-6px, -6px, -6px, -6px);
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #fff;
        @include animation(spin 1s linear infinite);
    }

}

@-webkit-keyframes spin {
    0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes spin {
    0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
