//
// Side Navigation Styles
//

.side-navigation {

    float: left;
    width: 245px;
    background-color: $menu-bg-color;
    padding: 0;
    margin: 0;
    border-right: 4px solid #333;

    * {
        user-select: none;
    }

    .title,
    .navigation {
        margin: 0;
        padding: 0;
    }



    .title {

        height: 60px;
        line-height: 60px;
        padding: 0 17px;
        font-size: 1.2em;
        font-weight: $font-weight;
        color: $title-font-color;
        background-color: #333 !important;

        i {
            float: right;
            font-size: 1.2em;
            margin-top: 1px;
        }

    }

    .menu-accordion {

        position:relative;

        .expand-link {

            display: block;
            height: 50px;
            line-height: 50px;
            color: #fff;
            font-size: 0.9em;
            font-weight: bold;
            padding: 0 17px;
            background-color: $menu-category-bg-color;
            border-left: 3px solid transparent;
            border-bottom: 1px solid $menu-bg-color;
            transition: all 0.5s ease;

            i {
                &.fa-caret-down, &.fa-caret-up
                {
                    right: 16px;
                    position: absolute;
                    display: inline-block;
                    top: 15px;
                }
                font-size:1.5em;
            }

            span
            {
                font-size: 1.5em;
            }

        }

    }

    .navigation {

        &.common
        {
            display: block;
        }
        display: none;
        list-style: none;

        li {

            @include clearfix();

            a {

                display: block;
                height: 50px;
                line-height: 50px;
                color: $menu-items-color;
                font-size: 0.8em;
                padding: 0 0 0 12px;
                background-color: $page-bg-color !important;
                border-left: 3px solid transparent;
                border-bottom: 1px solid $menu-bg-color;
                transition: all 0.5s ease;

                &.sub-menu
                {
                    padding-left:30px;
                }

                .fa {
                    float: left;
                    display: block;
                    width: 30px;
                    font-size: 1.4em;
                    margin-top: 17px;
                    margin-right: 7px;
                    color: $menu-links-icon-color;
                }

                .plus {

                    display: block;
                    float: right;
                    width: 13px;
                    height: 13px;
                    margin: 17px 1px 0 0;
                    transition: all 0.3s ease;
                    line-height: 10px;
                    text-align: center;
                    font-size: 1.8em;
                    color: $menu-links-icon-color;
                }

                &.active,
                &:hover {

                    border-left: 3px solid $brand-main-color;
                    background-color: $brand-main-color !important;

                    .plus {
                        transform: rotate(45deg);
                        transform-origin: 50% 50%;
                    }

                }


            }

            ul {

                margin: 0;
                padding: 0;
                list-style: none;

                &.expanded {
                    display: inline;
                }

                li {

                    a {

                        margin: 0;
                        font-size: 0.83em;
                        background-color: $submenu-bg-color;
                        border-bottom: 1px solid $menu-bg-color;

                        &:before {
                            content: "-";
                            margin-right: 10px;
                            color: #666;
                        }

                        &:hover {
                            background-color: $brand-main-color !important;
                        }

                    }

                }

            }

        }

    }

}
