<?php #HEADER ?>
<header class="main-header clearfix">
    <div class="row small-collapse">
        <div class="small-2 column">
            <div class="logo"></div>
        </div>
        <div class="small-4 offset-9 column right" id="user_p_menu">
            <?php
                $identity = $this->identity();
                if ($identity):
            ?>
            <div class="profile">
                Admin
            </div>
            <div class="u_detail">
                <div class="user-info">
                    <i class="fa fa-user"></i> <?php echo $this->escapeHtml($identity->name); ?>
                </div>
                <div class="carret-down"><i class="fa fa-caret-down"></i></div>
                <div class="user-actions">
                    <ul>
                        <li>
                        <a href="#" class="password-change-modal-link">
                            Senha
                        </a>
                        </li>
                        <li>
                        <a href="/login">
                            Sair
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</header>
<?php #/HEADER ?>
