<div id="message-panel">
    <div class="message success">
        <i class="fa fa-exclamation-circle fa-2x"></i>
        <span></span>
        <i class="close fa fa-times-circle fa-2x fa-pull-right" onclick="window.DirectUI.closeNotification(this);"></i>
    </div>
    <div class="message warning">
        <i class="fa fa-hand-paper-o fa-2x"></i>
        <span></span>
        <i class="close fa fa-times-circle fa-2x fa-pull-right" onclick="window.DirectUI.closeNotification(this);"></i>
    </div>
    <div class="message error">
        <i class="fa fa-ban fa-2x"></i>
        <span></span>
        <i class="close fa fa-times-circle fa-2x fa-pull-right" onclick="window.DirectUI.closeNotification(this);"></i>
    </div>
</div>
<div id="confirmation" class="reveal-modal small" data-reveal aria-labelledby="Confirmar" aria-hidden="true" role="dialog">
    <h2 id="confirmation-title"></h2>
    <p id="confirmation-message"></p>
    <a class="close-confirmation-negative confirmation-negative" aria-label="Close"><i class="close fa fa-times-circle fa-2x fa-pull-right"></i></a>
    <div class="row">
        <div class="small-6 columns">
            <button class="right confirmation-negative">N&atilde;o</button>
        </div>
        <div class="small-6 columns">
            <button class="confirmation-positive">Sim</button>
        </div>
    </div>
</div>