<div class="m-message-panel">
    <div class="message success">
        <i class="fa fa-exclamation-circle fa-2x"></i>
        <span></span>
        <i class="close fa fa-times-circle fa-2x fa-pull-right" onclick="window.DirectUI.closeNotification(this);"></i>
    </div>
    <div class="message warning">
        <i class="fa fa-hand-paper-o fa-2x"></i>
        <span></span>
        <i class="close fa fa-times-circle fa-2x fa-pull-right" onclick="window.DirectUI.closeNotification(this);"></i>
    </div>
    <div class="message error">
        <i class="fa fa-ban fa-2x"></i>
        <span></span>
        <i class="close fa fa-times-circle fa-2x fa-pull-right" onclick="window.DirectUI.closeNotification(this);"></i>
    </div>
</div>
