////////////////////////////////////////////////////////////////////////////////
// App Theme Configuration
////////////////////////////////////////////////////////////////////////////////

$template-base-color: #333;

$app-logo: "../../../images/logos/fastads.png";

$brand-main-color: #FFCD07;

$page-bg-color: #ECEDF0;

$header-bg-color: darken($template-base-color, 20%);
$header-font-color: lighten($template-base-color, 100%);

$header-dropdown-bg-color: #333;
$header-dropdown-link-color: #333;

$title-bg-color: darken($template-base-color, 10%);
$title-font-color: lighten($template-base-color, 100%);

$menu-bg-color: $template-base-color;

$menu-items-color:#FFF;
$menu-items-hover-color:#000;
$menu-category-items-color:#FFF;
$menu-category-bg-color:#000;
$menu-links-bg-color: darken($template-base-color, 15%);
$menu-links-color: lighten($template-base-color, 100%);
$menu-links-icon-color: lighten($template-base-color, 20%);
$menu-border-color: lighten($template-base-color, 15%);

$submenu-bg-color: darken($template-base-color, 5%);
$submenu-font-color: lighten($template-base-color, 100%);


////////////////////////////////////////////////////////////////////////////////
// Buttons, Alerts Colors
////////////////////////////////////////////////////////////////////////////////

$success-color: #359C32;
$success-color-hover: darken($success-color, 15%);

$alert-color: #bd1914;
$alert-color-hover: darken($alert-color, 15%);

$secondary-color: #565859;
$secondary-color-hover: darken($secondary-color, 15%);

$inactive-color: #666;
$inactive-color-hover: darken($inactive-color, 15%);


////////////////////////////////////////////////////////////////////////////////
// Login Theme Configuration
////////////////////////////////////////////////////////////////////////////////

$login-theme: dark;

@if ($login-theme == dark) {

    $login-page-background: "../../../images/binding_dark.png";
    $login-elements-color: #fff;

} @else {

    $login-page-background: "../../../images/greyzz.png";
    $login-elements-color: #333;

}


////////////////////////////////////////////////////////////////////////////////
// Modules
////////////////////////////////////////////////////////////////////////////////

@import "modules/common";
@import "modules/partials";
@import "modules/pages";
@import "../partials/header";

////////////////////////////////////////////////////////////////////////////////
