////////////////////////////////////////////////////////////////////////////////
// App Theme Configuration
////////////////////////////////////////////////////////////////////////////////

$template-base-color: #aaa;
$app-logo: "../../../images/logos/anj.png";
$brand-main-color: #1A3C6E;
$page-bg-color: #ECEDF0;

$header-bg-color: #ECEDF0;
$header-font-color: #333333;

$header-dropdown-bg-color: #333 !default;
$header-dropdown-link-color: #333 !default;

$title-bg-color: #000;
$title-font-color: lighten($template-base-color, 100%);

$menu-items-color:#FFF;
$menu-items-hover-color:#FFF;
$menu-category-items-color:#FFF;
$menu-category-bg-color:#140066;

$menu-bg-color: #333333;
$menu-links-bg-color: darken($template-base-color, 15%);
$menu-links-color: lighten($template-base-color, 100%);
$menu-links-icon-color: #000;
$menu-border-color: lighten($template-base-color, 10%);

$submenu-bg-color: darken($template-base-color, 5%);
$submenu-font-color: lighten($template-base-color, 100%);


$menu-bg-color: $template-base-color !default;
$menu-links-bg-color: #ECEDF0;
$menu-links-color: lighten($template-base-color, 100%) !default;
$menu-border-color: #000;



////////////////////////////////////////////////////////////////////////////////
// Buttons, Alerts Colors
////////////////////////////////////////////////////////////////////////////////

$success-color: #359C32;
$success-color-hover: darken($success-color, 15%);

$alert-color: #bd1914;
$alert-color-hover: darken($alert-color, 15%);

$secondary-color: #565859;
$secondary-color-hover: darken($secondary-color, 15%);

$inactive-color: #666;
$inactive-color-hover: darken($inactive-color, 15%);


////////////////////////////////////////////////////////////////////////////////
// Login Theme Configuration
////////////////////////////////////////////////////////////////////////////////

$login-theme: light;

@if ($login-theme == dark) {

    $login-page-background: "../../../images/binding_dark.png";
    $login-elements-color: #fff;

} @else {

    $login-page-background: "../../../images/greyzz.png";
    $login-elements-color: #333;

}


////////////////////////////////////////////////////////////////////////////////
// Modules
////////////////////////////////////////////////////////////////////////////////

@import "modules/common";
@import "modules/partials";
@import "modules/pages";
@import "../partials/header";

//overwrite especifico para ANJ onde a cor base do tema deles não fica boa nesta classe
.main-header {

    #user_p_menu
    {
        .profile
        {
            color:#FFF !important;
        }

    }
}

