<style>
    .error-content {
        margin: 40px 30px;
    }
    .error-content p {
        font-size: 1.4rem;
    }
</style>

<div class="error-content">
    <?php
        
        $message = explode('.', $this->exception->getMessage());

        array_pop($message);
        
        foreach ($message as $idx => $m)
        {
            echo('<p>' . $m . '.</p>');
        }

    ?>

</div>

<?php

    $this->headScript()->appendFile(
        '/vendor/requirejs/require.js',
        null,
        array('data-main' => 'pages/application/dashboard/index')
    );

?>
