.campaign-modal {
    form {
        margin-top: 20px;
        label {
            font-weight: bold;
        }
        input[type="text"],
        select {
            border-radius: 3px !important;
        }
    }
    .m-message-panel {
        // margin-bottom: 20px;
    }
}

.campaign-modal_button-list {
    margin-top: 20px;
    button {
        margin-bottom: 0;
        padding: 11px 15px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.85em;
        font-weight: bold;
    }
    button.success {
        margin-left: 20px;
    }
    button.secondary {
        background-color: #666666;
        color: #FFF;
    }
}

.campaign-modal_title {
    font-size: 1rem;
    font-weight: bold;
    i {
        margin-right: 5px;
    }
}

.campaign-modal_subtitle {
    font-size: 0.85rem;
    color: #999;
}
