$showcase-default-padding: 30px;
$showcase-default-margin: 25px;

.showcase {
    #mCSB_2_container {
        min-height: 100%;
    }
    button {
        margin-bottom: 0;
        padding: 11px 15px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.85em;
        font-weight: bold;
    }
}

.showcase_section {
    background-color: #FFF;
    margin: 25px 30px 0 30px;
    padding: $showcase-default-padding;
    border-radius: 3px;
    width: 975px;
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
}

.showcase_filters {
    display: none;
    background-color: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    top: 108px;
    left: 0;
}

.showcase_filters_fieldset {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:nth-child(odd) {
        border-width: 1px 0;
        border-style: solid;
        border-color: #D7D7D7;
        background-color: #F7F8F9;
    }
}

.showcase_filters_label {
    font-weight: bold;
    text-transform: lowercase;
    font-size: 0.8rem;
    padding-left: 2px;
    padding-bottom: 2px;
}

.showcase_filters_select {
    font-size: 0.8rem;
    border-radius: 3px;
    height: initial;
    padding: 8px;
}

.showcase_filters_button-list {
    font-size: 0;
    text-align: right;
    padding: 20px;
    button {
        font-size: 0.9rem;
        margin-left: 30px;
    }
    button[type='reset'] {
        color: #999;
        background-color: transparent;
        text-decoration: underline;
        font-size: 0.9rem;
        text-transform: lowercase;
        font-weight: normal;
        padding: 0;
    }
}

.showcase_section--search-results {
    display: none;
    select,
    .inline,
    .showcase_section_title {
        margin-bottom: 0;
        line-height: 2.3125rem;
    }
    select {
        padding: 0 8px;
    }
    label.inline {
        padding: 0 10px 0 0;
    }
    label {
        text-align: right;
        padding-right: 10px;
    }
}

.showcase_section_blank-message {
    padding: 15px 25px;
    background-color: #FEFCE1;
    border: solid 1px #D7D7D7;
    box-shadow: 1px 1px 5px #D7D7D7;
    font-size: 0.9rem;
}

.showcase_section_title {
    color: #018BBC;
    font-weight: bold;
    margin: 0 0 $showcase-default-padding 0;
    line-height: 1em;
    font-size: 1.1rem;
}

.showcase_section_counter {
    font-size: 0.9rem;
}

.showcase_section_show-more,
.showcase_section--header {
    button.secondary {
        background-color: #666666;
        color: #F1F1F1;
        &:hover,
        &:focus {
            background-color: #444444;
            color: #F1F1F1;
        }
    }
}

.showcase_item--featured {
    .showcase_item_price {
        background-color: #A5CFDE;
    }
}

.showcase_list-items {
    font-size: 0;
    &::after {
        content: '';
        display: table;
        clear: both;
    }
    .showcase_item {
        display: inline-block;
        margin: 0 6px 15px 6px;
        // float: left;
        vertical-align: top;
        width: 445px;
        cursor: pointer;
    }
    .showcase_item_name {
        width: 330px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
    }
}

.showcase_list-items--narrow {
    max-height: 545px;
    overflow: hidden;
}

.showcase_item {
    color: #222;
    border: solid 1px #D7D7D7;
    box-shadow: 1px 1px 5px #D7D7D7;
    padding: 15px;
    border-radius: 3px;
    height: 167px;
    box-sizing: border-box;
    transition: border-color 0.4s;
    &:hover,
    &:focus {
        border-color: #018BBC;
        color: #222;
    }
}

.showcase_item_name {
    display: inline-block;
    line-height: 1em;
    vertical-align: top;
}

.showcase_item_media-types {
    float: right;
    color: #018BBC;
    line-height: 1em;
    font-size: 1.2rem;
    i {
        margin-left: 7px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.showcase_item_price {
    font-size: 1rem;
    float: right;
    background-color: #E4EBEE;
    text-align: right;
    padding: 5px 13px;
    width: 200px;
    .currency {
        font-size: 0.9rem;
        font-weight: bold;
        float: left;
    }
}

.showcase_item_cat {
    text-transform: lowercase;
    font-size: 1rem;
    float: right;
    background-color: #E4EBEE;
    text-align: right;
    padding: 5px 13px;
    margin-right: 5px;
    span {
        font-size: 0.8rem;
        padding-left: 5px;
    }
}

.showcase_item_description {
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin: 15px 0 25px 0;
    color: #555;
    height: 34px;
}

.showcase_item_header {
    font-size: 1.125rem;
}

.showcase_section--header {
    position: relative;
    z-index: 100;
    padding-top: 15px;
    padding-bottom: 15px;
    fieldset {
        margin: 10px 0 0 10px;
        legend {
            font-size: 0.8rem;
            margin-bottom: 10px;
        }
    }
}

.showcase_section--header_button {
    margin-top: 30px;
}

.showcase_cart {
    height: 80px;
    // border: solid 1px red;
    float: right;
}

.showcase_cart_icon {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    color: #FFF;
    background-color: #018BBC;
    width: 40px;
    line-height: 80px;
    text-align: center;
    i {
        font-size: 1.3rem;
    }
}
.showcase_cart_content {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    background-color: #A5CFDE;
    min-width: 125px;
    text-align: right;
    height: 80px;
    padding: 15px 10px;
    color: #666;
}

.showcase_cart_qty {
    font-size: .9rem;
    font-weight: bold;
}
.showcase_cart_total {
    line-height: 1em;
    margin-top: 13px;
}