.newspaper-products {
    background: #FFF;
    margin: 25px 30px 105px 30px !important;
    border-radius: 5px;
    select,
    textarea,
    input[type='text'],
    input[type='number'] {
        border-radius: 5px !important;
    }
    input[type='text'].hasDatepicker {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

span.required::after {
    content: ' *';
    display: inline-block;
    white-space: pre;
};

.weekday_field {
    text-align: right;
}

#weekday-placeholder table {
    border: none;
    thead {
         background-color: #add8e6;
         td {
             border: solid 1px #CCC;
         }
         span {
             font-weight: normal;
         }
    }
    tbody {
        td {
            border-width:  0 0 1px 1px;
            border-style: solid;
            border-color: #DDD;  
        }
        td:last-child {
            border-right: 1px;
            border-style: solid;
            border-color: #DDD;  
        }
    }
    .disabled {
        background: #EEE;
    }
}

.newspaper-products fieldset {
    padding: 15px;
    margin: 0;
    border: solid #ddd;
    border-width: 0 0 1px 0; 
}

.newspaper-products .strong {
    font-size: 1rem;
    font-weight: bold;
    color: #4d4d4d;
}

.newspaper-products .chosen-container,
.newspaper-products .chosen-container-multi {
    margin: 0 0 1rem 0
}

.newspaper-products span.strong {
    margin: 0 0 3px 3px;
    display: inline-block;
}

.newspaper-products form > div.row {
    padding: 15px;
}

label.text-center {
    text-align: center;
}

label.middle {
    margin: 0 0 1rem;
    padding: 0.5625rem 0;
}