.newspapersection__form,
.newspapersubsection__form {
    border: solid 2px #43AC6A;
    position: relative;
    z-index: 90;
    padding: 10px;
}

 #placeholder-container {
    display: none;
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 100000;
    margin: 0 !important;
}

#form-placeholder {
    padding: 0 45px;
    background: white;
    border: solid 2px #43AC6A;
    padding: 25px 45px;
} 

#newspapersection-placeholder-list {
    .section-action-controls {
        width: 120px;
    }
    .section-name,
    .section-header-name {
        width: 22rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 22rem;
    }
}
