<div class="page-title">
    <h1><i class="fa fa-tachometer"></i> Dashboard</h1>
</div>

<section class="content">
    <div class="wrapper">

        <?php $identity = $this->identity(); ?>

        <div class="welcome-message">
            <h1>Bem-vindo <b><?php echo $this->escapeHtml($identity->name); ?></b></h1>
        </div>

    </div>
</section>

<?php

    $this->headScript()->appendFile(
        '/vendor/requirejs/require.js',
        null,
        array('data-main' => 'pages/application/dashboard/index')
    );

?>
