.packages {
    background: #FFF;
    margin: 25px 30px 105px 30px !important;
    border-radius: 5px;
    select,
    input[type='text'],
    textarea {
        border-radius: 5px !important;
    }
    .required::after {
        content: ' *';
        display: inline-block;
        white-space: pre;
    }
    .on-delete,
    .on-draft {
            border-style: dashed !important;
            border-width: 1px !important;
            border-color: #aaa !important;
        td {
            border-style: dashed !important;
            border-width: 1px !important;
            border-color: #aaa !important;
        }
    }
    .on-draft {
        background-color: #fcfce2;
    }
    .on-delete {
        background-color: rgba(255, 0, 0, 0.1);
    }
    #datatable {
        margin-bottom: 8px;
        border: none;
        border-collapse: collapse;
        th {
            border: solid 1px #ddd;
        }
    }
    .product-list-item {
        padding: 0;
        border: solid 1px #aaa;
        border-collapse: collapse;
        margin-bottom: 8px;
        td {
            border: solid 1px #BBB;
        }
    }
    fieldset {
        padding: 15px;
        margin: 0;
        border: solid #ddd;
        border-width: 0 0 1px 0; 
        &.nbb {
            border-bottom: none;
            padding-bottom: 0;
        }
        &.bg-dark {
            background-color: #F1F1F1;
            .box {
                background-color: #FCFCFC;
            }
        }
    }
    .strong {
        font-size: 1rem;
        font-weight: bold;
        color: #4d4d4d;
    }
    input.money {
        text-align: right;
    }
    .chosen-container,
    .chosen-container-multi {
        margin: 0 0 1rem 0
    }
    span.strong {
        margin: 0 0 3px 0;
        display: inline-block;
    }
    form > div.row {
        padding: 15px;
    }
    label.text-center {
        text-align: center;
    }
    label.middle {
        margin: 0 0 1rem;
        padding: 0.5625rem 0;
    }
    #price {
        text-align: right;
    }
    .summary-wrapper {
        border: solid 1px #DDD;
        padding: 1rem;
    }
    .box {
        border: solid 1px #DDD;
        padding: 6px 10px;
        margin-bottom: 30px;
    }
    .label-list {
        padding: 4px 5px !important;
        border-radius: 5px;
    }
    .label {
        border-radius: 3px !important;
        font-size: 0.85em;
        padding: 3px 7px;
        line-height: 1.3rem;
        box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);
    }
    .term,
    .value {
        font-size: 0.875rem;
        margin-bottom: 10px;
        text-align: right;
        line-height: 1.6rem;
        padding: 0 5px !important;
    }
    .value {
        padding: 0 10px !important;
        font-size: 0.775rem;
        background-color: #EEE;
        strong {
            float: left;
        }
    }
    .partial-form-placeholder {
        background-color: #FFF;
        display: none;
        border: solid 2px #43AC6A;
        position: relative;
        z-index: 90;
        margin-bottom: 20px;
        // padding: 10px;
    }
    #weekdays_wrapper table {
        td {
            border-right: solid 1px #DDD;
        }
        td:last-child {
            border-right: none;
        }
        select {
            margin-bottom: 0;
        }
    }
    button.reset {
        background-color: transparent;
        color: #008CBA;
        border: solid 1px #008CBA;
    }
}