.campaign {
    table {
        width: 100%;
        border: none;
    }
    .accordion--line-item {
        .accordion_header {
            font-size: 0;
            padding: 15px 20px;
        }
    }
    .accordion_switch {
        text-align: center;
        font-size: 1.4rem;
        margin-right: 15px; 
        display: inline-block;
        vertical-align: top;
        line-height: 40px;
    }
    .accordion_header_content {
        font-size: 0;
        width: 901px;
        line-height: 40px;
        text-align: center;
        > div {
            // background-color: red;
            font-size: 1rem;
        }
        .name {
            float: left;
            vertical-align: top;
            text-align: left;
        }
        .group {
            display: inline-block;
            vertical-align: top;
            font-size: 0;
            height: 38px;
            line-height: 38px;
        }
        .qty {
            display: inline-block;
            vertical-align: top;
            font-size: 0.85rem;
            margin-right: 20px;
        }
        .price {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
        }
        .price .displayer_value--price {
            width: 215px;
            padding: 0 20px;
        }
        .edit {
            display: inline-block;
            vertical-align: top;
            .button {
                padding: 7px 11px;
                font-size: 1.3rem;
                background-color: #FFCF00;
                color: #000000;
            }
            .button[disabled] {
                background-color: #D7D7D7;
                color: #656464;
            }
        }
        .status {
            float: right;
            width: 100px;
        }
    }
    .accordion_content {
        padding: 0 20px 20px 20px
    }
    .product-detail_line-item {
        font-size: 0;
        line-height: 3.4rem;
        .button {
            padding: 6px 8px;
            font-size: 1.3rem;
            background-color: #FFCF00;
            color: #000000;
        }
        .displayer_value {
            font-size: 0.85rem;
        }
        .displayer + .displayer {
            margin-left: 30px;
        } 
    }
    .product-detail_action {
        width: 50px;
        float: right;
        text-align: right;
        padding-right: 10px;
        .button {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .detail-wrapper {
        margin-top: 0;
    }
    .product-detail_holder {
        .displayer--highlighted {
            float: right;
            margin-right: 0;
        }
    }
    .product-detail_line-item--closed {
        .displayer {
            display: inline-block;
        }
    }
    .product-detail_media-type {
        color: #222;
        font-size: 1rem;
        padding-left: 15px;
    }
    .product-detail_name {
        width: 230px;
        padding-left: 10px;
        font-weight: normal;
        font-size: 0.9rem;
    }
}
