.renegotiation {
    .holder-box {
        width: 180px;
        border-radius: 5px;
        background-color: #EBEBEB;
        padding: 15px;
        float: right;
        height: 80px;
        color: #666;
        font-size: 0.8rem;
        p {
            margin-bottom: 1rem;
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
}
#renegotiation-modal {
    width: 600px;
}

.renegotiation-modal {
    .close-reveal-modal {
        color: #222;
        font-size: 2rem;
    }
    textarea {
        border-radius: 5px;
        margin-bottom: 2rem;
    };

    input {
        margin: 0;
        &[type="text"] {
            margin-bottom: 1rem;
            border-radius: 5px !important;
        }
        &[readonly] {
            font-size: 1.2rem;
            border: none;
            background-color: #F3F3F3;
            color: #36ACD7;
            font-weight: bold;
            box-shadow: none;
        }
        &.price {
            text-align: right;
        }
        &[type="checkbox"],
        &[type="radio"] {
            display: inline-block;
            height: 37px;
        } 
        &[type="checkbox"]+label,
        &[type="radio"]+label {
            display: inline-block;
            vertical-align: top;
            line-height: 37px;
            margin: 0;
        }
    }
    
    .prefix {
        border: none;
        background-color: transparent;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .button {
        border-radius: 5px;
        font-weight: bold;
        padding: 11px 15px;
        text-transform: uppercase;
        font-size: 0.85rem;
        margin-bottom: 0;
    }
    button.success {
        margin-left: 15px;
    }
}

