<?php

$profile = "admin";
$role = "admin";

$navigationMenu = $this->navigationMenu($profile, $role);

$id = '';
if ($profile === 'publisher')
{
    $id = (isset($this->layout()->publisher_id)) ? $this->layout()->publisher_id : '';
}
elseif ($profile === 'advertiser' || $profile === 'agency')
{
    $id = (isset($this->layout()->agency_advertiser_id)) ? $this->layout()->agency_advertiser_id : '';
}
?>
<?php #SIDEBAR MENU ?>
<aside class="side-navigation">
    <div class="s-wrapper">
    <h4 class="title"></h4>
    <?php foreach($navigationMenu as $category):?>
        <?php if($category->name == "" && count($category->items) > 0):?>
        <div class="menu-accordion common">
        <ul class="navigation common">
        <?php foreach ($category->items as $item) : ?>
            <?php $item = (object) $item;?>
            <li class="common">
                <a href="<?= $item->uri ?>">
                    <i class="fa fa-lg fa-fw <?= $item->class ?>"></i>
                    <?= $item->label ?>
                </a>
            </li>
        <?php endforeach; ?>
        </ul>
        </div>
        <?php else:?>
            <?php if(count($category->items) > 0):?>
            <div class="menu-accordion online">
                <a href="#" class="expand-link">
                    <?php echo $category->name ?> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="navigation">
                <?php foreach ($category->items as $item) : ?>
                <?php $item = (object) $item;?>
                    <li class="online">
                        <a href="<?= str_replace("%id%", "/$id", $item->uri) ?>" class="sub-menu">
                            <i class="fa fa-lg fa-fw <?= $item->class ?>"></i>
                            <?= $item->label ?>
                        </a>
                    </li>
                <?php endforeach; ?>
                </ul>
            </div>
            <?php endif;?>
        <?php endif;?>
    <?php endforeach;?>
        </div>
</aside>
<?php #SIDEBAR MENU ?>
