.accordion {
    
}

.accordion_header {
    @include grid-row();
}

.accordion_header_content {
    // @include grid-column();
    display: inline-block;
}

.accordion_switch {
    // @include grid-column(
    //     $columns: 1,
    //     $collapse: true
    // );
    // text-align: center;
}

.accordion_content {
        
}

.accordion_content--closed {
    display: none;
}

.accordion_toggle {
    color: #008BBC;
    font-size: 1.4rem;
}