<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Sampagora - Admin</title>
        <link rel="stylesheet" href="/styles/css/jquery-ui.css" />
        <link rel="stylesheet" href="/styles/css/main.css" />
        <link rel="stylesheet" href = "/styles/css/themes/direct.direct.predicta.net.css" />
        <script src = "/vendor/modernizr/modernizr.js"></script>
    </head>
    <body>
        <?php if ($this->identity()) : ?>
        <div class="sys_notifications">
            <div class="message loading">
                <div class="icon">
                    <span class="loader loader-quart"> </span>
                </div>
                <div class="info">
                    <h3>Aguarde!</h3>
                    <span>Carregando informações...</span>
                </div>
            </div>
        </div>
            <?php echo $this->partial('layout/partial/header.phtml'); ?>

            <div class="content-wrapper">
                <div id="wrapper_content">
                    <div id="sidebar"><?php echo $this->partial("layout/partial/menu/navigation.phtml"); ?></div>
                    <div id="main_content"><?php echo $this->content; ?></div>
                </div>
            </div>

            <?php #CHANGE PASSWORD MODAL ?>
            <?php echo $this->partial('layout/partial/password/change.phtml'); ?>
            <?php #/CHANGE PASSWORD MODAL ?>

            <?php #SCRIPTS INSERIDOS DINAMICAMENTE ?>
            <?php
                $this->headScript()->prependFile('/scripts/config.js');
                $this->headScript()->setAllowArbitraryAttributes(true);
                echo $this->headScript();
            ?>

        <?php else: ?>
            <div class="row">
                <div id="direct-container" class="small-12 columns">
                    <p class="text-center panel radius">Sessão expirada lay. <a href="/">Fazer login novamente.</a></p>
                </div>
            </div>
        <?php endif; ?>

    </body>
</html>
