<!DOCTYPE html>
<html lang="pt-br">
   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
       <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
       <title>Admin - Sampagora</title>
       <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
       <link rel="icon" href="/favicon.ico" type="image/x-icon">
       <link rel="stylesheet" href="/styles/css/main.css">
       <link rel="stylesheet" href = "/styles/css/themes/direct.direct.predicta.net.css" />
   </head>
   <body class="login">

      <?php #CONTEÚDO DINÂMICO ?>
      <?php echo $this->content; ?>
      <?php #/CONTEÚDO DINÂMICO ?>

      <?php #SCRIPTS INSERIDOS DINAMICAMENTE ?>
      <?php
          $this->headScript()->prependFile('/scripts/config.js');
          $this->headScript()->setAllowArbitraryAttributes(true);
          echo $this->headScript();
      ?>
      <?php #/SCRIPTS INSERIDOS DINAMICAMENTE ?>
   </body>
</html>
