//
// Body, Html Defaults
//

* {
    outline: none;
    box-sizing: border-box;
    font-weight: $font-weight;    
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url(/styles/fonts/arimo/arimo_normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'), url(/styles/fonts/arimo/arimo_bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 400;
  src: local('Arimo Italic'), local('Arimo-Italic'), url(/styles/fonts/arimo/arimo_italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 700;
  src: local('Arimo Bold Italic'), local('Arimo-BoldItalic'), url(/styles/fonts/arimo/arimo_italic_bold.woff2) format('woff2');
}


//IE compatible fonts
@font-face {
    font-family: 'Arimo';
    src: url('/styles/fonts/arimo/arimo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Arimo';
    src: url('/styles/fonts/arimo/arimo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Arimo';
    src: url('/styles/fonts/arimo/arimo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Arimo';
    src: url('/styles/fonts/arimo/arimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $page-bg-color;
    overflow: hidden;
}

.overlayed::after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, .6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.overlayed--darker::after {
    background-color: rgba(0, 0, 0, .6);
}

.fa-c-edit {
    @extend .fa-pencil;
}

.fa-c-info {
    @extend .fa-info-circle;
}

.fa-c-collapsed {
    @extend .fa-plus-square;
}

.fa-c-uncollapsed {
    @extend .fa-minus-square;
}

.fa-c-cart {
    @extend .fa-shopping-bag;
}

.fa-c-auction {
    @extend .fa-gavel;
}

.fa-c-online {
    @extend .fa-laptop;
}

.fa-c-offline {
    @extend .fa-newspaper-o;
}

.fa-c-radio {
    @extend .fa-microphone;
}

.fa-c-product {
    @extend .fa-cube;
}

.fa-c-package {
    @extend .fa-cubes;
}