.un_box
{
    display:inline-block;
    border-radius:3px;
    text-align:left;
    padding:10px;
    background-color:#FFF;
    color:$soft-grey-color;
    margin-left:15px;
    float:left;
    width:auto;

    h3
    {
        margin-bottom:auto;
        color:$soft-grey-color;
    }
}

.ov_box
{
    display:inline-block;
    margin-right:30px;
    border-radius:3px;
    text-align:center;
    padding:20px;
    color:#FFF;
    height: 80px;
    font-size: 0.8em;
    font-weight:bold;

    h2
    {
        color:#FFF;
        line-height: 0.6;

        cite
        {
            color: #76bf80;
            font-style: normal;
            font-style:normal;
        }
    }
}

.dash_negotiations_ov{
    @include soft-linear-gradient( #fceabb, #fccd4d );
}

.dash_bids_ov{
    @include soft-linear-gradient(#93bed8, #2895db);
}

.dash_total_ov{
    @include soft-linear-gradient(#38b44a, #2d903c);
}

.btn_edit
{
    color: #000;
    background-color: $yellow-background;
    font-size: 1.5em !important;
    margin: 0 5px 0px 0px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;

    &:hover, &:active
    {
        background-color: darken($yellow-background, 8%) !important;
        color: #000 !important;
    }
}

.btn_preview
{
    color: #000;
    background-color: $yellow-background;
    font-size: 1.4em !important;
    margin: 0 5px 0px 0px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 5px !important;
    padding-bottom: 4px !important;

    &:hover, &:active
    {
        background-color: darken($yellow-background, 8%) !important;
        color: #000 !important;
    }
}


.btn_approve
{
    color: #FFF !important;
    background-color: $green-btn-background;
    font-size: 1.5em !important;
    margin: 0 5px 0px 0px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;

    &:hover, &:active
    {
        background-color: darken($green-btn-background, 8%) !important;
        color: #fff !important;
    }
}

.btn_close
{
    color: #FFF !important;
    background-color: $red-btn-background;
    font-size: 1.5em !important;
    margin: 0 5px 0px 0px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;

    &:hover, &:active
    {
        background-color: darken($red-btn-background, 8%) !important;
        color: #fff !important;
    }
}

.btn_del
{
    color: #FFF !important;
    font-size: 1.5em !important;
    margin: 0 5px 0px 0px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.btn-close-txt-action
{
    background-color:#666666;
    padding: 11px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.85em;
    color:#FFF;
    font-weight:bold;
    margin-top: 30px;

    &:hover
    {
        background-color:#666666;
    }
}


.btn_link
{
    color: #FFF;
    background-color: $blue-background;
    font-size: 1.3em;
    margin: 0 12px 0px 0px !important;
    padding-left: 7px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 4px;

    &:hover, &:active
    {
        background-color: darken($blue-background, 8%) !important;
        color: #FFF !important;
    }
}

.btn_guear
{
    color: #000;
    background-color: $soft-green-color;
    font-size: 1.4em;
    margin: -4px 12px 0px 0px !important;
    padding-left: 7px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    float:right;

    &:hover, &:active
    {
        background-color: darken($soft-green-color, 8%) !important;
        color: #000 !important;
    }
}

.btn_l_chart
{
    color: #000;
    background-color: $yellow-background;
    font-size: 1.3em !important;
    margin: 0 5px 0px 0px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 4px !important;
    padding-bottom: 3px !important;

    &:hover, &:active
    {
        background-color: darken($yellow-background, 8%) !important;
        color: #000 !important;
    }
}


.btn_step_ok
{
    color: $soft-green-color;
    font-size: 1.4em;
    margin: -4px 12px 0px 0px !important;
    padding-left: 7px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    float:right;

    &:hover, &:active
    {
        background-color: none !important;
        color: $soft-green-color !important;
    }
}

.btn_clear_fix
{
    float: left !important;
    margin-right:5px !important;
}

.btn_disabled
{
    background-color:#D7D7D7 !important;
    color:#656464 !important;
    cursor:default !important;

    &:hover, &:active
    {
        background-color:#D7D7D7 !important;
        color:#656464 !important;
    }
}

.active_step
{
    width:30px;
    height:30px;
    border-radius:30px;
    background-color:$soft-green-color;
    text-align:center;
    line-height:30px;
    font-weight:bold;
    display:inline-block;
    color: #000;
}

.inactive_step
{
    width:30px;
    height:30px;
    border-radius:30px;
    background-color:$soft-grey-color;
    text-align:center;
    line-height:30px;
    font-weight:bold;
    display:inline-block;
    color: #000;
}

.title_first_steps
{
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom:20px;
}

.dash_table{
    border:none !important;
    border-collapse:collapse !important;
    border-color: #FFF;

    .right
    {
        text-align:right;
        float: none !important;
    }

    tbody td
    {
        background-color:#FFF !important;
    }
}

.table-container.datatable .dash_table table * {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-collapse: collapse !important;
}


.table-container.dash_head
{
    border:none !important;
    margin:0px !important;
}

.table-container.dash_head .table-header
{
    background-color:#ecedf0;
    font-size: 0.8em;
    color:#333 !important;
    margin:0 0 -4px 4px;

    h4.title
    {
        color:#333;
        font-weight:bold;

        span
        {
            color:#2faaf9 !important;
        }

        small
        {
            font-size: 0.7em;
        }
    }

}

.table-container.table.dash_head
{
    border: none !important;
    background: none;

    .table-header
    {
        border: none !important;
    }

    .datatable
    {
        border: none !important;
        background: none;
        margin:0 !important;
    }
}

.table-container.dash_head .table-content
{
    padding-top:0px;
}

.table-container.dash_head .table-content table
{
    .odd, .even
    {
        background:none !important;
    }

    thead th, tbody td
    {
        border:none !important;
        padding:5px 0 5px 10px;
    }

    tr
    {
        border-bottom: 1px solid #ccc !important;
    }
}

.table-container.dash_head .table-content table thead th
{
    background-color:#f4f7f7;
    padding:inherit;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px !important;
    color: #666;
}

#creative-modal
{
    .creative
    {
        clear:both;
        background-color: #E1E1E1;
        border: 1px solid #999;
    }

    .approval-actions
    {
        margin-top:20px;
    }
}

.approval-flow-link
{
    &.approval
    {
        background-color: #8DC73F;
        border-radius: 8px;
        padding: 10px;
    }

    &.deny
    {
        background-color: #EE1C24;
        border-radius: 8px;
        padding: 10px;
    }
}

.content
{
    background-color:#ECEDF0  !important;
}
