//
// Forms custom styles
//

.form-container {

    //background-color: #fff;
    border-radius: $default-border-radius;
    margin: 0 15px !important;
    //overflow: hidden;

    .form-header {

        background-color: #F8F9FC;
        border-bottom: 1px solid #DDDDDD;
        padding: 20px;

        select {
            margin: 0;
        }

        .btn {

            padding: 11px 15px;
            margin: 0;
            background-color: $success-color;
            text-transform: uppercase;
            font-size: 0.8em;
            transition: all 0.5s ease;

            &:hover {
                background-color: darken($success-color, 12%);
            }

        }

        .title {
            margin: 0;
            padding: 0;
            font-size: 1.7em;
        }

    }

    .form-content {

        //padding: 20px 10px;

        .sub-content {
            padding: 10px 10px 0 10px;
            margin: 15px;
            border-radius: 3px;
            background-color: #f1f1f1;

            & a.actions
            {
                font-size:1.7em;
                color: #000;
            }
        }

        .tree-areas {
            display: none;
            background-color: #FFF;
            margin-top: 20px;
        }

        .pages-container,
        .tree-container {

            height: auto;
            overflow: hidden;
            padding: 15px 0 15px 15px;
            border: 1px solid #e2e2e2;
            border-radius: 7px;
            background-color: #fff;
            margin-bottom: 30px;

        }

        .tree-container {

            li ul { display: none; }

        }

        .pages-container {

            ul {
                list-style: none;
            }

            input[type="checkbox"] {
                margin: 6px 10px 0 0;
                float: left;
            }

        }

        .mCSB_scrollTools {
            top: 0px !important;
            right: 5px !important;
            bottom: 0px !important;
        }

        .selected-pages-title {
            display: none;
            margin-top: 30px;
        }

        .selected-page-line {
            margin: 15px 0;
            padding: 10px;
            background-color: #eee;
            border: 1px dashed #15b1da;
        }

        .selected-page-line > .remove-page-field
        {
            float: right;
            font-size:1.5em;
            line-height:1em;
            color:#000;
        }

    }

    .form-footer {
        padding: 10px;

        .action-bar
        {
            padding:20px;
            background-color:#FFF;
            position: relative;

            .left-c
            {
                display:inline-block
            }

            .btn-cont
            {
                display: inline-block;
                position: absolute;
                right: 10px;
                top: 12px;
                display:inline-block;
            }
        }

    }

}

.custom-form {

    #form-auction {
        .price-input{
            span.prefix{color:#000;}
        }
    }

    label {

        font-size: 1.05em;

        small {
            font-size: 18px;
            color: #999;
            font-weight: bold;
            margin-left: 5px;
        }

        .tooltip-icon {
            color: #10B9FF;
            font-size: 1.2em;
        }

        .has-tip {
            border: 0;
        }

    }

    .operator{
        padding-top:2.8em;
        text-align:center;
        width: 3.33333%;

        p{
            font-size:1em;
            font-weight: bold;
        }
    }

    .equals{
        padding-top:2.4em;
        text-align:center;
        width: 3.33333%;

        p{
            font-size:1.5em;
            font-weight: bold;
        }
    }

    .error {

        small {
            color: #D90000;
        }

        input[type="text"] {

            margin: 0.5rem 0 2rem 0;
            border-color: #D90000;

            &:focus {
                border-color: #D90000 !important;
            }

        }

    }

    .custom-input-text {

        select,
        input[type="text"],
        input[type="password"] {

            margin: 0.5rem 0 2rem 0;
            border-radius: $default-border-radius;
            box-shadow: -1px 1px 7px rgba(#ccc, 0.5) inset;

            &:focus {
                border-color: #ccc;
            }

        }

    }

    .custom-input-file {

        label {
            display: inline;
            height: 35px;
            line-height: 35px;
            margin: 0 15px 0 0;
        }

    }

    .input-file-name {
        overflow: hidden;
        text-align: center;
    }

    .weight-input,
    .size-input,
    .date-input,
    .price-input {

        .postfix {

            float: left;
            width: 40px;
            border-radius: 3px 0 0 3px;
            border-right: 1px solid #ccc;
            color: #888;
            font-size: 1em;
            font-weight: 400;
            margin: 0.5rem 0 2rem 0;

            i {
                font-size: 1.5em;
            }

        }

        .prefix {

            border-radius: 3px 0 0 3px;
            border-right: 1px solid #ccc;
            color: #888;
            font-size: 1em;
            font-weight: 400;
            margin: 0.5rem 0 2rem 0;

            i {
                font-size: 1.5em;
            }

            .fi-arrows-expand {

                display: block;
                font-size: 1em;

                &.horizontal {
                    transform: rotate(44deg);
                }

                &.vertical {
                    transform: rotate(-44.5deg);
                }

            }

        }

        .inline {

            .separator {
                height: 43px;
                line-height: 47px;
                text-align: center;
            }

        }


        input[type="text"] {

            text-align: right;
            border-left: 0;
            border-radius: 0 3px 3px 0 !important;
            margin: 0.5rem 0 2rem 0;

            &:focus {
                border-color: #ccc;
            }

        }

    }

    .weight-input {

        input[type="text"] {
            border: 1px solid #ccc;
            border-radius: 3px 0 0 3px !important;
        }

        .postfix {
            border-radius: 0 3px 3px 0;
            border-right: 1px solid #ccc;
        }

    }

    .button {

        margin: 0;
        padding: 11px 15px;
        border-radius: $default-border-radius;
        text-transform: uppercase;
        font-size: 0.85em;

    }

}

.inventory-calc {

    width: auto;
    padding: 10px;
    border-radius: 3px;
    background-color: #f1f1f1;

    .total {
        display: block;
        height: 38px;
        line-height: 38px;
        padding: 4px 10px;
        font-size: 1.3em;
        font-weight: bold;
        color: #333;
    }

}

.calc-box {

    .icon {

        text-align: center;

        .fi-link {
            font-size: 1.8em;
            color: #ccc;
            margin: 34px 0 0 0;
            display: block;
        }

    }

}

.chosen-container-multi {

    .chosen-drop {
        top: 59%;
    }

    .chosen-choices {

        height: auto !important;
        border-radius: $default-border-radius;

        .search-choice {
            font-size: 0.85em !important;
            border: 0 !important;
            background: #ddd !important;
        }

        .search-choice-close {
            margin: 1px 2px 0 5px;
        }

        &:focus {
            border-color: #ccc;
        }

    }

}



#format-details-container {
    display: none;
}

.format-details {

    margin: 20px 15px 30px 15px;
    border: 1px dashed #ccc;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 3px;

    table {
        width: 100%;
        margin: 0;
    }

    .image {

        width: 300px;
        vertical-align: top;

        img {
            width: 100%;
        }

    }

    .details {

        vertical-align: top;

        h5 {
            font-weight: bold;
        }

        p {
            font-size: 0.9em;
            margin-bottom: 5px;
        }

    }

}



.product-details {

    table {
        width: 100%;
        border-radius: 3px;
        margin-top: 16px !important;
        margin-bottom: 30px !important;
    }
}

#channel-details-container {

    ul {
        border: solid 2px #DDD;display: none;padding: 7px 7px 0;
    }

    .channel-details {
        border: dashed 1px #30B1DC;
        list-style: none;
        margin-bottom: 7px;
        padding: 0;

        p {
            margin:0;line-height: 2;position: relative;cursor: pointer;font-size:0.9rem;padding-left: 7px;
            &:hover{background: #DDD;}

            span{
                position: absolute;right:10px;z-index:5;display: inline-block;width: 20px;text-align: center;

                &:hover{color:#3199BB;}
            }
        }
    }


}

.channel-modal, .format-modal {

    .details{
        img{float:left;margin-right: 20px;}
        span{font-size:0.9em;}
    }

    h6{font-weight: bold;}
    p{color:#8C8484;}

    .detail-box{
        margin-bottom: 15px;overflow: hidden;
        p{margin-bottom: 0.2rem;}

    }

    .box{
        clear:both;
        border:solid 2px #DDD;margin-bottom: 10px;padding:7px 7px 12px;
    }

    .blue-bg{background: $blue-background;color:#FFF;}
    .pink-bg{background: $pink-background;color:#FFF;}

    .site-box {
        b{font-size: 0.85em;}
    }

    button.close-reveal-modal{background:#666;color:#FFF;font-size:0.85em;position: relative;border-radius: 3px;padding: 11px 15px;}
    a.close-reveal-modal{color:#000;top:0;right:0.5rem;}
}

.creative-upload {

    .sub-content {

        margin: 0 0 20px 0 !important;
        padding: 20px !important;
        border: 1px dashed #ccc;
        background-color: #f5f5f5;

        span {

            display: inline;
            margin: 20px 0 0 0;
            font-size: 0.9em !important;

            b { color: #4d4d4d !important; }

        }

    }

}


#association-form {

    .chosen-container.chosen-container-multi {
        width: 100% !important;
    }

    .search-field input {
        width: 100% !important;
    }

}

.media-tp-btn
{
    background-color: #3DAD67;
    border-radius: 4px;
    padding-left: 14px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin:0;
    text-transform: uppercase;

    &:hover, &:active
    {
        background-color:darken(#3DAD67, 12%);
    }
}

.btn_detail
{
    color: #000;
    font-size: 1.5em;
    margin: 0 5px 0px 0px !important;
    padding-left: 8px;

    &:hover, &:active
    {
        color:#000;
    }

}

.std-button {
    padding: 11px 15px;
    margin: 0;
    font-size: 0.8em;
    border-radius: $default-border-radius;
    margin-left: 10px;
    color:#FFF;
    font-weight: bold;
    font-size:1em;

    &:hover
    {
        color:#FFF;
    }
}

.send-act
{
    background-color: #008CBA;
    border-color: #007095;
    color: #fff;
}

.other-act
{
    background-color: #008CBA;
    border-color: #007095;
}

.next-act
{
    background-color: #43AC6A;
    border-color: #368a55;
}

.btn-inl
{
    display:inline-block;
    margin-right:20px !important;
}

.bt-cancl
{
    background-color: #999;
    border-color: #b9b9b9;
    color: #fff;
}

.inp-dsp
{
    box-shadow: none !important;
    background-color:#F1F1F1 !important;
    border:1px solid #F1F1F1 !important;
    text-align:right;

    &.txt
    {
        text-align:left;
    }

    &:focus
    {
        border:1px solid #81C99C !important;
    }
}

.search-f
{
    margin-top:30px;
}

.field_radius
{
    border-radius: $default-border-radius !important;
}

.thighlight
{
    background-color:#FFcc00;
}

.confirmation-positive, .confirmation-negative
{
    text-transform: uppercase;
}

#added_formats_list
{
    min-height:300px;
    .added_format
    {
        border:1px dashed #00B8FF;
        padding: 10px;
        margin-bottom:15px;
    }

    .no_formats_added
    {
        text-align:center;
        color:#CCC;
        display:none;
    }

    .img
    {
        float: left;
        background-color:#CCCCCC;
        display:inline-block;
        width:120px;
        height:120px;
        margin-right:10px;

        img
        {
            width:120px;
            height:120px;
        }
    }

    .desc
    {
        font-size: 12px;
        display:inline-block;
        height: 120px;
        margin-right:10px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow-y: scroll;

        h5
        {
            font-weight:bold;
            font-size: 1.2em;
        }
    }

    .remove
    {
        display:inline-block;
        height:120px;
        vertical-align:top;
        float: right;

        i
        {
            cursor:pointer;
            font-size: 26px;
        }
    }

    .details
    {
        float: right;
        display:inline-block;
        width:225px;
        height:120px;
        margin-right:10px;

        .t_details
        {
            border:none;
            margin:-5px;

            td
            {
                padding:5px 8px 5px 8px;
            }

            .t_d_data
            {
                text-align:right;
                background-color:#ECEDF0;

                span
                {
                    float:left;
                    font-weight:bold;
                }
            }
        }

    }
}

//exclusivo para gerenciamrnto de formats em canais
.btn_channel_detail, .btn_format_detail
{
    font-size: 24px;
    color: #333333;
    vertical-align: middle;
}

#format_info
{
    .data_detail_item_box
    {
        background:#FFF;
        margin-left: 20px;
    }
    .details
    {
        background: #F3F3F3;
        padding:5px;
        margin-bottom:10px;
        color:#939393;
        p
        {
            margin-bottom: 0;
        }
    }
}

#channel_info
{
    .data_detail_item_box
    {
        background:#FFF;
        margin-left: 20px;
    }
}

.custom-check-box
{
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        font-size:0.875rem !important;
    }

    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left:0; top: 2px;
        width: 17px; height: 17px;
        border: 1px solid #aaa;
        background: #f8f8f8;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
    }

    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        content: '✔';
        position: absolute;
        top: 3px; left: 4px;
        font-size: 18px;
        line-height: 0.8;
        color: #008BBC;
        transition: all .2s;
    }

    //animação do efeito ao marcar/desmarcar o checkbox
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }

    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }

    [type="checkbox"]:disabled:checked + label:after {
        color: #999;
    }

    [type="checkbox"]:disabled + label {
        color: #aaa;
    }

    /* para acessibilidade destacar com bordas traçadas */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
        border: 1px dotted blue;
    }

    label:hover:before {
        border: 1px solid #4778d9!important;
    }
}
