//
// Custom Grid
//

$row-width: 100%;

.row {
    @include grid-row();
}


//
// Custom Buttons
//

.btn {

    @include button;

    padding: 6px 10px;
    margin: 0;
    border-radius: $default-border-radius;
    font-size: 0.9em;
    font-weight: $font-weight;

    &.inactive {

        background-color: $inactive-color;

        &:hover {
            background-color: lighten($inactive-color, 5%);
        }

    }

    &.active {

        background-color: $brand-main-color;

        &:hover {
            background-color: lighten($brand-main-color, 5%);
        }

    }

}


//
// Custom Scrollbar
//

.content-wrapper {

    .content {

        background-color:#FFF;

        .mCSB_container {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding: 0 !important;
        }

        .mCSB_scrollTools {
            top: 25px;
            right: 3px;
            bottom: 75px;
        }

    }

    .side-navigation {

        .mCSB_container {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding: 0 !important;
        }

        .mCSB_scrollTools {
            top: -16px;
            right: -10px;
            bottom: -16px;
        }

        .mCSB_dragger_bar {
            width: 5px;
            background-color: $brand-main-color !important;
            border-radius: 0;
        }

    }

}


// Chosen

.chosen-container-multi .chosen-choices {
   height: 2.3125rem !important;
   padding: 4px 5px !important;
   border: 1px solid #ccc !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
   margin: 1px 5px 3px 0 !important;
   line-height: 20px !important;
   height: 26px !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
   top: 7px !important;

}
