//
// Data tables styles
//

.table-container {

    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: $default-border-radius;
    margin: 0 15px !important;
    overflow: hidden;

    .table-header {

        background-color: #F8F9FC;
        border-bottom: 1px solid #DDDDDD;
        padding: 20px;

        select {
            margin: 0;
        }

        .button {
            padding: 11px 15px;
            margin: 0;
            text-transform: uppercase;
            font-size: 0.8em;
            border-radius: $default-border-radius;
            margin-left: 10px;
        }

        .title {
            margin: 0;
            padding: 0;
            font-size: 1.4em;
            line-height: 1.65em;
            color: #666;
        }

        .cancel-renegotiate {
            display: none;
        }

    }

    &.lists {

        .list-content {

            padding: 20px;

            ul {

                list-style: none;
                margin: 0;
                padding: 0;
                border-radius: 3px;
                border: 1px solid #ccc;
                color: #666666;

            }

            li {

                padding: 10px;
                border-bottom: 1px solid #ccc;

                &:last-child { border: 0; }

                &.header {
                    background-color: #F5F5F5;
                }

            }

        }

    }

    &.table {

        .table-content {

            padding: 20px;

            table {

                width: 100%;
                border-radius: 5px;
                border: 1px solid #ddd;
                margin: 0;
                padding: 0;
                border-spacing: 0;
                border-collapse: separate;

                tr:nth-child(even) {
                    background: #F5F5F5;
                }

                tr:nth-child(odd) {
                    background: #FFF;
                }

                thead th,
                tbody td {

                    border-left: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;

                    &:first-child {
                        border-left: 0;
                    }

                }

                tbody tr:last-child td {
                    border-bottom: 0;
                }

                thead th {
                    background-color: #f5f5f5;
                }

                thead th,
                tbody td {
                    padding: 10px 15px;
                }

                input[type="text"] {
                    display: none;
                    margin: 3px 0;
                }

                th, td {
                    &.actions { display: none; }
                }

            }

        }

    }

    &.datatable {

        .table-content {

            padding: 20px;
            display:none;

            .dataTables_info {
                color: #666;
                font-size: 0.9em;
                margin-top: 20px;
            }

            .datatable-length {
                width: 60px;
                border-radius: 3px;
            }

            .dataTables_filter input {
                width: 300px;
                border-radius: 3px;
                margin-left: 0px;
            }

            .paginate_button {

                background: none !important;
                font-size: 0.9em !important;
                margin-top: 15px !important;
                border: 0 !important;
                color: #666 !important;

                &.disabled
                {
                    cursor: default !important;
                }

                &.next,
                &.previous {
                    font-weight: bold;
                    color: #666 !important;
                    &:hover { color: #000 !important; cursor:pointer; }
                }

                &.current {
                    border: 1px solid #ccc !important;
                }

                &:active {
                    box-shadow: 0 0 0 transparent !important;
                    color: #000;
                }

            }

            span .paginate_button {
                color: #666 !important;
                &:hover { color: #000 !important; }
            }

            table {

                border-radius: 5px;
                border: 1px solid #ddd !important;
                border-bottom: 1px solid #ddd !important;

                * {
                    border-color: #ccc !important;
                }

                .even {
                    background-color: #fff;
                }

                .odd {
                    background-color: #F5F5F5;
                }

                .sorting,
                .sorting_asc,
                .sorting_desc {
                    background-position: 96% 50%;
                }

                thead th {

                    padding: 20px 15px;
                    background-color: #fff;
                    border-right: 1px solid #ccc;

                    &:last-child {
                        border-right: 0;
                    }

                }

                tr th:first-child,
                tr td:first-child {
                    border-left: 0 !important;
                    text-align: left;
                }

                th:last-child,
                td:last-child {
                    border-right: 0 !important;
                }

                td {
                    padding: 10px 15px;
                }

            }

        }

    }

    .actions {

        a {
            font-size: 1.5em;
            color: #333;
            margin-right: 10px;
        }

        .button {
            padding: 11px 15px;
            margin: 0;
            text-transform: uppercase;
            font-size: 0.8em;
            border-radius: $default-border-radius;
        }

    }

}

.ta_right
{
    text-align:right !important;

    .te
    {
        float: left;
        line-height: 34px;
        color: #000 !important;
    }
}

.table-data-sum
{
    table {

        width: 100%;
        border-radius: 5px;
        border: 1px solid #ddd;
        margin: 0;
        padding: 0;
        border-spacing: 0;
        border-collapse: separate;

        td{
            padding: 10px 7px 4px 5px !important;
            font-weight:bold;

            input
            {
                margin-bottom:0 !important;
            }
        }

        tr:nth-child(even) {
            background: none !important;
        }

        tr:nth-child(odd) {
            background: none !important;
        }
    }
}

.clean-table
{
    background:none;
    border:none;
    margin:0;

    tr{
        background: none !important;
    }
    td{
        background:none;
        padding:0;
    }
}
