//
// Buttons, Alerts Colors
//

$success-color: #359C32 !default;
$success-color-hover: darken($success-color, 15%) !default;

$alert-color: #bd1914 !default;
$alert-color-hover: darken($alert-color, 15%) !default;

$secondary-color: #565859 !default;
$secondary-color-hover: darken($secondary-color, 15%) !default;

$inactive-color: #666;
$inactive-color-hover: darken($inactive-color, 15%);

$blue-background: #228ACF;
$pink-background: #F10657;

$yellow-background: #ffcc00;
$blue-background: #2792d6;
$soft-grey-color: #898989;
$soft-green-color: #81CA9D;
$green-btn-background: #8EC549;
$red-btn-background: #EB212E;


//
// Radius, Padding, Margins
//

$default-border-radius: 5px;


//
// Typography
//

$font-weight: 200 !default;


//
// Login Theme Configuration
//

$login-page-background: "../../../images/binding_dark.png" !default;
$login-elements-color: #fff !default;


//
// App Theme Configuration
//

$app-logo: "../../../images/logos/predicta-logo.png" !default;
$template-base-color: #333 !default;
$brand-main-color: #18BEBA;

$page-bg-color: #ECEDF0 !default;

$header-bg-color: darken($template-base-color, 30%) !default;
$header-font-color: lighten($template-base-color, 100%) !important;

$header-dropdown-bg-color: #333 !default;
$header-dropdown-link-color: #333 !default;

$title-bg-color: $template-base-color;
$title-font-color: lighten($template-base-color, 100%) !default;

$menu-items-color:#FFF;
$menu-items-hover-color:#000;
$menu-category-items-color:#FFF;
$menu-category-bg-color:#000;

$menu-bg-color: $template-base-color !default;
$menu-links-bg-color: #ECEDF0;
$menu-links-color: lighten($template-base-color, 100%) !default;
$menu-links-icon-color: $menu-items-color;
$menu-border-color:#333;

$submenu-bg-color: darken($menu-items-color, 5%) !default;
$submenu-font-color: lighten($menu-items-color, 100%) !default;

//mixins

@mixin soft-linear-gradient ($from, $to){
background: $to;
background: -moz-linear-gradient(top,  $from 0%, $to 55%);
background: -webkit-linear-gradient(top,  $from 0%,$to 55%);
background: linear-gradient(to bottom,  $from 0%,$to 55%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}
