<br>
<div class="table-container table dash_head">
    <div class="table-header">
        <div class="row collapse">
            <div class="small-12 columns">
                <h4 class="title">CLIENTES <small>Associações ao adserver pendentes</small> <span>(<?php echo $this->total ?>)</span></h4>
            </div>
        </div>
    </div>
    <?php if ($this->clients_adservers): ?>
        <div class="table-container datatable">
            <div class="table-content">
                <table id="datatable_clients" class="cell-border row-border stripe hover dash_table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>tipo</th>
                            <th>nome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->clients_adservers as $client) : ?>
                            <tr>
                                <td><?php echo $client['id']; ?></td>
                                <td><?php echo ($client['type_client']=='agency' ? 'agencia':'anunciante') ?></td>
                                <td><?php echo $client['name']; ?></td>
                                <td class="ta_right"><a href="/publisher/account-manager/form/<?php echo ($client['type_client']=='agency' ? 'agencia':'anunciante') ?>/<?php echo $client['id'] ?>" title="Editar" class="button radius btn_edit"><i class="fa fa-pencil"></i></a></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    <?php endif; ?>
</div>
