<?php if (!$this->mediaBuyerInfo || !$this->advertisers ): ?>
    <div style="width:800px">
        <div style="display: inline-block;">
        <div class="un_box">
            <h3>Oi <?php echo $this->identity->name ?> </h3>
        </div>
    </div>
    <br>
    <div class="small-12 columns">
        <h4 class="title_first_steps">Algumas configurações iniciais precisam ser feitas para que você possa usar a ferramenta.</h4>
    </div>

    <div class="small-12 columns">
        <div class="radius" style="padding:10px;border:1px solid #ccc; border-radius:3px;background-color:#FFF;margin-bottom:10px;">
            <div class="active_step">1</div> Cadastre anunciantes ou agências
            <?php if (!$this->advertisers): ?>
               <a href="/agency/advertiser" data-action="href='/agency/advertiser'" title="Cadastre" class="button radius btn_guear">
               <i class="fa fa-cog"></i>
               </a>
            <?php else:?>
                <span class="radius btn_step_ok"><i class="fa fa-check"></i></span>
            <?php endif; ?>
        </div>

        <div class="radius" style="padding:10px;border:1px solid #ccc; border-radius:3px;background-color:#FFF;margin-bottom:10px;">
            <div class="active_step">2</div>
            Cadastre as suas informações de cobrança
            <?php if (!$this->mediaBuyerInfo): ?>
               <a href="#" class="billing-modal-link button radius btn_guear">
               <i class="fa fa-cog"></i>
               </a>
            <?php else:?>
              <span class="radius btn_step_ok"><i class="fa fa-check"></i></span>
            <?php endif; ?>
        </div>
    </div>
</div>
<?php endif; ?>
