<?php if (is_array($this->auctions)): ?>
    <br>
    <div class="table-container table dash_head">
        <div class="table-header">
            <div class="row collapse">
                <div class="small-12 columns">
                    <h4 class="title">LANCES <small>Propostas pendentes</small> <span>(<?php echo $this->total ?>)<span></h4>
                </div>
            </div>
        </div>
        <?php if ($this->auctions): ?>
            <div class="table-container datatable">
                <div class="table-content">
                    <table id="datatable_auction" class="cell-border row-border stripe hover dash_table" style="width:100%">
                        <thead>
                            <tr>
                                <th>data</th>
                                <th>nome</th>
                                <th>campanha</th>
                                <th>anunciante | agência</th>
                                <th>valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->auctions as $auction) : ?>
                                <tr>
                                    <td><?php echo $auction['create_date']; ?></td>
                                    <td><?php echo $auction['name']; ?></td>
                                    <td><?php echo $auction['campaign_name']; ?></td>
                                    <td><?php echo $auction['advertiser_name']; ?> / <?php echo $auction['agency_name']; ?></td>
                                    <td class="right"><?= (isset($auction['auction_value']) ? number_format($auction['auction_value'], 2, ",", ".") : ''); ?></td>
                                    <?php if ($this->controller == 'agency') :?>
                                        <td class="right"><a href="/campaign-proposals/<?php echo $auction['campaign_id']?>" title="Visualizar" class="button radius btn_preview"><i class="fa fa-eye"></i></a>
                                    <?php else: ?>
                                        <td class="right"><a href="/campaign-proposals/<?php echo $auction['campaign_id']?>#<?php echo $auction['id'] ?>" title="Visualizar" class="button radius btn_preview"><i class="fa fa-eye"></i></a>
                                    <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>
