<?php if (is_array($this->creatives_pending)): ?>
    <br>
    <div class="table-container table dash_head">
        <div class="table-header">
            <div class="row collapse">
                <div class="small-12 columns">
                    <h4 class="title">CRIATIVOS <small>Envios Pendentes</small> <span>(<?php echo $this->total ?>)<span></h4>
                </div>
            </div>
        </div>
        <?php if ($this->creatives_pending): ?>
            <div class="table-container datatable">
                <div class="table-content">
                    <table id="datatable_pending_creatives" class="cell-border row-border stripe hover dash_table" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 170px; !important">período</th>
                                <th>nome</th>
                                <th>campanha</th>
                                <th>anunciante | agência</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach ($this->creatives_pending as $line_item) : ?>
                                <tr>
                                    <td><?php echo $line_item['period']; ?></td>
                                    <td><?php echo $line_item['name']; ?></td>
                                    <td><?php echo $line_item['campaign_name']; ?></td>
                                    <td><?php echo $line_item['advertiser_name']; ?> / <?php echo $line_item['agency_name']; ?></td>
                                    <td class="right"><a href="/campaign-proposals/<?php echo $line_item['campaign_id']?>#<?php echo $line_item['id'] ?>" class="button radius btn_preview"><i class="fa fa-upload"></i></a></td>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>
