<br>
<div class="table-container table dash_head">
    <div class="table-header">
        <div class="row collapse">
            <div class="small-12 columns">
                <h4 class="title">CRIATIVOS <small>Aprovações pendentes</small> <span>(<?php echo $this->total ?>)<span></h4>
            </div>
        </div>
    </div>
    <?php if ($this->creatives): ?>
        <div class="table-container datatable">
            <div class="table-content">
                <table id="datatable_creatives" class="cell-border row-border stripe hover dash_table" style="width:100%">
                    <thead>
                        <tr>
                            <th>período</th>
                            <th>nome</th>
                            <th>campanha | proposta</th>
                            <th>anunciante | agência</th>
                            <th>mídia</th>
                            <th>formato</th>
                            <th style="width:77px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->creatives as $creative) : ?>
                            <tr>
                                <td><?php echo $creative['period']; ?></td>
                                <td><?php echo $creative['creative_name']; ?></td>
                                <td> <a href="/campaign-proposals/<?php echo $creative['campaign_id']?>#<?php echo $creative['proposal_id'] ?>" title="Visualizar"><?= $creative['campaign_name']; ?> / <?= $creative['proposal_name']; ?></a> </td>
                                <td><?php echo $creative['advertiser_name']; ?> / <?php echo $creative['agency_name']; ?></td>
                                <td><?php echo $creative['type']; ?></td>
                                <td><?php echo $creative['product_description']; ?></td>
                                <td class="right">
                                    <a href="<?= $this->url('application/creative-download', ['type' => $creative['type'], 'creative_id' => $creative['creative_id'] , 'line_item_id' => $creative['line_item_id']]); ?>" target="_blank" class="button radius btn_preview">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    <?php endif; ?>
</div>
