<?php if (is_array($this->negotiations)): ?>
    <br>
    <div class="table-container table dash_head">
        <div class="table-header">
            <div class="row collapse">
                <div class="small-12 columns">
                    <h4 class="title">PROPOSTAS <small>Propostas pendentes</small> <span>(<?php echo $this->total ?>)</span></h4>
                </div>
            </div>
        </div>
        <?php if ($this->negotiations): ?>
            <div class="table-container datatable">
                <div class="table-content">
                    <table id="datatable_negotiation" class="cell-border row-border stripe hover dash_table" style="width:100%">
                        <thead>
                            <tr>
                                <th>data</th>
                                <th>nome</th>
                                <th>campanha</th>
                                <th>anunciante | agência</th>
                                <th>valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->negotiations as $negotiation) : ?>
                                <tr>
                                    <td><?php echo $negotiation['create_date']; ?></td>
                                    <td><?php echo $negotiation['name']; ?></td>
                                    <td><?php echo $negotiation['campaign_name']; ?></td>
                                    <td><?php echo $negotiation['advertiser_name']; ?> / <?php echo $negotiation['agency_name']; ?></td>
                                    <td class="center"><?php echo number_format($negotiation['total_price'], 2, ",", "."); ?></td>
                                    <td class="right"><a href="/campaign-proposals/<?php echo $negotiation['campaign_id']?>#<?php echo $negotiation['id'] ?>" title="Visualizar" class="button radius btn_preview"><i class="fa fa-eye"></i></a></td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>
