<br>
<div class="table-container table dash_head">
    <div class="table-header">
        <div class="row collapse">
            <div class="small-12 columns">
                <h4 class="title">CLIENTES <small>Associações aos vendedores pendentes</small> <span>(<?php echo $this->total ?>)</span></h4>
            </div>
        </div>
    </div>
    <?php if ($this->users): ?>
        <div class="table-container datatable">
            <div class="table-content">
                <table id="datatable_sellers" class="cell-border row-border stripe hover dash_table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>anunciante | agência</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->users as $user) : ?>
                            <tr>
                                <td><?php echo $user['id']; ?></td>
                                <td><?php echo $user['advertiser']['name']; ?> / <?php echo $user['agency']['name']; ?></td>
                                <td class="ta_right">
                                    <a href="#" data-action="/publisher/seller/form/<?php echo $user['id'] ?>" title="Associar" class="button radius btn_link edit-advertiser" data-advertiser-id-btn="<?php echo $user['id'] ?>">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    <?php endif; ?>
</div>

<div id="create-seller-modal" class="reveal-modal form-modal" data-reveal aria-hidden="true" role="dialog">

    <div class="row collapse">
        <div class="small-12 column">
            <h2 class="title">Cadastro de Vendedor</h2>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    </div>

    <div class="form-container custom-form">
        <form id="seller-form" method="post" action="/publisher/seller/save-seller">
            <div class="form-content">
                <div class="row collapse">
                    <div class="small-12 column">
                        <div class="row collapse">
                            <div class="small-12 columns custom-input-text">
                                <label>Nome <small>*</small></label>
                                <div class="small-5 columns">
                                    <input type="text" name="name" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row collapse">

                <div class="row collapse">
                    <div class="small-12 column">
                        <div class="row">
                            <div class="small-12 columns custom-input-text">
                                <label>Email <small>*</small></label>
                                <div class="small-5 columns">
                                    <input type="text" name="email" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="small-12 column">
                        <div class="row">
                            <div class="small-12 columns custom-input-text">
                                <label>Senha <small>*</small></label>
                                <div class="small-5 columns">
                                    <input type="password" name="password" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="row collapse">
                    <div class="small-12 column">
                        <button type="submit" class="button success right">
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
