<?php if (isset($this->hasSellersAssociation) && $this->hasSellersAssociation == false){ ?>
<div class="m-message-panel">
<div class="message warning" style="display:block;margin-bottom:20px;">
        <i class="fa fa-exclamation-circle fa-2x"></i>
        <span>Seu cadastro está sob avaliação do veículo. Quando a aprovação do veículo for conluída, você terá acesso a todas as opções.</span>
</div>
</div>
<?php } ?>

<div style="text-align:right;font-size: 0.8em;">
    <div class="un_box">
    <h3>Oi <?php echo $this->identity->name ?> </h3>
    </div>
<?php if (is_array($this->total)): ?>
    <div class="dash_negotiations_ov ov_box">
        <h2><?php echo $this->total['negotiations'] ?></h2>
        negociações/mês
    </div>
    <div class="dash_bids_ov ov_box">
        <h2><?php echo $this->total['auctions'] ?></h2>
        Lances/mês
    </div>
    <div class="dash_total_ov ov_box">
        <h2><cite>R$</cite> <?php echo $this->total['price'] ?></h2>
        Valor Total/mês
    </div>
<?php endif; ?>
</div>


