.badge {
    .secondary {
        background-color: #666666;
        color: #FFF;
        font-size: 0.85rem;
        padding: 12px 19px;
    }
}

.badge_type {
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
}

.badge_title {
    @include ellipsis();
    width: 90%;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    margin: 0;
    line-height: 40px;
    vertical-align: top;
}

.badge_media-types {
    vertical-align: top;
    line-height: 40px;
    float: right;
    color: #018BBC;
    font-size: 1.2rem;
    i {
        margin-left: 7px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.badge_price {
    font-size: 1rem;
    float: right;
    background-color: #F1F1F1;
    text-align: right;
    padding: 8px 13px;
    width: 200px;
    margin-bottom: 10px;
    .currency {
        font-size: 0.9rem;
        font-weight: bold;
        float: left;
    }
}

.badge_description {
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: #555;
}