.cart-box {
    height: 80px;
    float: right;
}

.cart-box_icon {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    color: #FFF;
    background-color: #018BBC;
    width: 40px;
    line-height: 80px; 
    text-align: center;
    i {
        font-size: 1.3rem;
    }
}

.cart-box_content {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    background-color: #A5CFDE;
    min-width: 125px;
    text-align: right;
    height: 80px;
    padding: 15px 10px;
    color: #666;
}

.cart-box_qty {
    font-size: .9rem;
    font-weight: bold;
}

.cart-box_total {
    line-height: 1em;
    margin-top: 13px;
}