.detail-wrapper {
    border: solid 2px #018BBC;
    padding: 20px;
    border-radius: 3px;
    form {
        background-color: #F4FCFF;
        padding: 20px;
        h5 {
            font-weight: bold;
            font-size: 1rem;
        }
        input[type="text"] {
            border-radius: 3px !important;
        }
    }
    .weekdays-table {
        background-color: transparent;
        border: none;
        border-spacing: 0;
        td {
            width: 118px;
            border-style: solid;
            border-width: 1px 0 1px 1px;
            border-color: #DDD;
            background-color: #FFF;
            &:last-child {
                border-right-width: 1px;
            }
            input {
                margin: 0;
            }
        }
        td.divider {
            border: none;
            background-color: #F4FCFF;
        }
    }
}