.displayer {
    font-size: 0;
}

.displayer_label {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    text-transform: lowercase;
    margin-right: 10px;
}

.displayer_value {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    background-color: #EBEBEB;
    font-size: 1rem;
    .displayer_info-icon {
        float: right;
        font-size: 1.4em;
        height: 100%;
    }
}

.displayer_info-icon {
    display: inline-block;
    vertical-align: middle;
    color: #018BBC;
    cursor: pointer;
}

.displayer_text-value {
    @include ellipsis();
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    width: 90%;
}

.displayer_value--price {
    &:before {
        content: 'R$ ';
        font-weight: bold;
        float: left;
        font-size: 0.9rem;
        margin-right: 10px;
    }
}

.displayer--vertical {
    .displayer_label {
        display: block;
        font-size: .8rem;
        margin-right: 15px;
        margin-bottom: 0px;
    }
}

.displayer_value--text {
    text-align: left;
}

// Modifiers
.displayer_value--lozenge-list {
    font-size: 0;
    .lozenge {
        margin-bottom: 8px;
        margin-right: 6px;
    }
}

.displayer--highlighted {
    .displayer_value {
        border: solid 1px #438cca;
    }
}

.displayer--featured {
    .displayer_value {
        background-color: #89d1e8;
    }
}

.displayer--featured {
    float: right;
    &:last-child {
        margin-right: 0;
    }
}