.holder {
    background-color: #FFF;
    margin: 25px 30px 0 30px;
    padding: 30px;
    border-radius: 3px;
    width: 975px;
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
    .button {
        margin-bottom: 0;
        padding: 11px 15px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: bold;
    }
    .detail-wrapper {
        margin: 20px 0;
    }
    &:last-child {
        margin-bottom: 100px; 
    }
}

// Elements 
.holder_description {
    p {
        font-size: 0.8rem;
        margin: 0;
    }
}

.holder_title {
    color: #018BBC;
    font-weight: bold;
    margin: 10px 0;
    line-height: 1em;
    font-size: 1.1rem;
}

.holder_button-list {
    .button.success {
        float: right;
    }
}


// Modifiers / State

.holder--header {
    padding-top: 15px; 
    padding-bottom: 15px; 
    .holder_title {
        font-size: 1.3rem;
    }
}

.holder--no-padding {
    padding: 0;
}