.lozenge {
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: #FFF;
    font-size: 0;
    padding: 6px 8px;
    line-height: 1rem;
}

.lozenge_text {
    font-size: 0.9rem;
    vertical-align: middle;
}

.lozenge_icon {
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 1em;
    margin-left: 5px;
    color: #777;
    i[data-resource-id] {
        cursor: pointer;
        color: #018BBC;
    }
}