.product-detail {
    + .product-detail {
        margin-top: 20px;
    }
    .chosen-container {
        width: 100% !important;
    }
}

.product-detail_line-item {
    @include grid-row($behavior: 'collapse');
    font-size: 0.8rem;
    border: solid 2px #CCC;
    line-height: 2.5rem;
    > div {
        display: inline-block;
        vertical-align: top;
    }
    .product-detail_total-price {
        @include grid-column($float:right,$collapse:true);
    }
    .displayer_value {
        padding: 0 20px;
        font-size: 1rem;
    }
}

.product-detail_total-price {
    @include grid-column($collapse:true);
    .displayer_value {
        min-width: 150px;
    }
}

.product-detail_switch {
    @include grid-column();
    font-size: 1.2rem;
}
 
.product-detail_media-type {
    @include grid-column($collapse:true);
    min-width: 24px;
    font-size: 1.4rem;
    color: #018BBC;
    text-align: center;
} 
.product-detail_name {
    @include grid-column();
    @include ellipsis();
    width: 350px;
    font-size: 1rem;
    font-weight: bold;
}

.product-detail_total-insertions {
    @include grid-column();
    .displayer_value {
        text-align: center;
        min-width: 75px;
    }
}

.product-detail_content {
    font-size: 0.9rem;
    border: solid 2px #CCC;
    border-top: none;
}

.product-detail_row {
    @include grid-row();
    line-height: 1.9rem;
    border-bottom: solid 2px #FFF;
    &:last-child {
        border-bottom: none;
    }
    .displayer {
        @include grid-column();
        background-color: #EBEBEB;
        padding: 8px 16px;
        + .displayer {
            border-left: solid 2px #FFF;
        }
    }
    .displayer_label {
        font-weight: bold;
        text-transform: capitalize;
        min-width: 60px;
        margin-right: 20px;
    }
    .displayer_value {
        min-width: 110px;
        text-align: left;
        padding: 0;
    }
    .displayer--vertical {
        .displayer_value {
            padding: 0;
        }
    }
}

.product-detail_holder {
    @include grid-row();
    background-color: transparent;
    padding: 10px 15px 15px 15px;
    line-height: 1.5rem;
    .displayer {
        @include grid-column();
        margin: 0 20px 0 0;
        padding: 0;
        &.displayer--highlighted {
            .displayer_value {
                line-height: 2.3rem;
            }
        }
    }
    .displayer_label {
        font-weight: normal;
        text-transform: lowercase;
    }
    .displayer_value {
        @include ellipsis();
        padding: 0 10px;
        line-height: 2.4rem;
        width: 100%;
        font-size: 0.9rem;
    }
}

.product-detail_holder--yellow-bg {
    background-color: #FEFCE1;
}

.product-detail_holder--detached {
    border-bottom: solid 2px #CCC;
    padding: 10px;
    p {
        margin: 0;
        line-height: 2rem;
        font-size: 0.85rem;
    }
    .btn_edit {
        float: right;
        margin: 0 !important;
    }
}