<div id="password-change-modal" class="reveal-modal billing-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <?php echo $this->partial('layout/partial/messages_modal.phtml') ?>
    <h2 class="title">Alteração de Senha</h2>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

    <div class="form-container custom-form">

        <form id="password-change-form" action="/password/change">
            <div class="form-content">
                <div class="row collapse">
                    <div class="small-6 column">
                        <div class="row">
                            <div class="small-12 columns custom-input-text">
                                <label>
                                    Nova Senha
                                    <input type="password" name="password">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="small-6 column">
                        <div class="row">
                            <div class="small-12 columns custom-input-text">
                                <label>
                                    Confirmação da Senha
                                    <input type="password" name="password_confirm">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="row collapse">
                    <div class="small-12 column">
                        <button type="submit" class="button right">
                            SALVAR
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
