////////////////////////////////////////////////////////////////////////////////
// Page Config
////////////////////////////////////////////////////////////////////////////////

body, html {
    background-color: $page-bg-color !important;
}


////////////////////////////////////////////////////////////////////////////////
// Overrides
////////////////////////////////////////////////////////////////////////////////

.btn {

    &.inactive {
        background-color: $inactive-color !important;
        &:hover {
            background-color: lighten($inactive-color, 5%) !important;
        }
    }

    &.active {
        background-color: $brand-main-color !important;
        &:hover {
            background-color: lighten($brand-main-color, 5%) !important;
        }
    }

}


////////////////////////////////////////////////////////////////////////////////
// Custom Scrollbar
////////////////////////////////////////////////////////////////////////////////

.content-wrapper {
    .side-navigation {
        .mCSB_dragger_bar {
            background-color: $brand-main-color !important;
        }
    }
}

.side-navigation {
    & u {float:right;}
}



////////////////////////////////////////////////////////////////////////////////
// Error Page
////////////////////////////////////////////////////////////////////////////////

.error-content {
    margin-left: 30px;
    h1{
        font-size: 2rem;
        padding-top: 2em;
    }

    h2{
        font-size:1.2rem
    }
}

