////////////////////////////////////////////////////////////////////////////////
// Login
////////////////////////////////////////////////////////////////////////////////

body {

    &.login {

        background-color: #333 !important;
        background-image: none;

        ::-webkit-input-placeholder {
            color: $login-elements-color;
        }

        :-moz-placeholder {
           color: $login-elements-color;
           opacity: 1;
        }

        ::-moz-placeholder {
           color: $login-elements-color;
           opacity: 1;
        }

        :-ms-input-placeholder {
           color: $login-elements-color;
        }

    }

}

.login-container,
.password-recovery-container,
.sign-up-container {

    .logo {
        background-image: url($app-logo);
        height: 80px;
        width: 217px;
    }

    input[type="text"],
    input[type="password"] {
        border-color: $login-elements-color;
        color: $login-elements-color;
    }

    .fi-torso,
    .fi-lock,
    .fi-mail {
        color: $login-elements-color;
    }

    button {

        &.success {

            border-color: $success-color;
            color: $success-color;

            &:hover {
                border-color: $success-color-hover;
                color: $success-color-hover;
            }

        }

        &.warning {

            border-color: $alert-color;
            color: $alert-color;

            &:hover {
                border-color: $alert-color-hover;
                color: $alert-color-hover;
            }

        }

    }

    .password-recovery {

        color: darken($login-elements-color, 50%);

        &:hover {
            color: $brand-main-color;
        }

    }

    .sign-up {

        color: darken($brand-main-color, 10%);

        &:hover {
            color: $brand-main-color;
        }

    }

}

.password-recovery-container {
    .instructions {
        color: $login-elements-color;
    }

}

.sign-up-container {

    .step-one {

        a {
            border-color: $brand-main-color;
            color: $brand-main-color;
        }

    }

}

.sign-up-form {

    h3 { color: $brand-main-color; }

    .type {

        a {

            &.active,
            &:hover {

                color: $brand-main-color;

                .icon {
                    background-color: $brand-main-color;
                }

            }

        }

    }

}


////////////////////////////////////////////////////////////////////////////////
// Home Styles
////////////////////////////////////////////////////////////////////////////////

.page-title {

    background-color: $title-bg-color;

    h1 {
        color: #fff;
    }

}

.welcome-message {

    h1 {

        color: #555;

        b { color: #333; }

    }

    h2 { color: #777; }

}


////////////////////////////////////////////////////////////////////////////////
