////////////////////////////////////////////////////////////////////////////////
// Main Header Styles
////////////////////////////////////////////////////////////////////////////////

//
// Main Header Styles
//



////////////////////////////////////////////////////////////////////////////////
// Side Navigation Styles
////////////////////////////////////////////////////////////////////////////////

.side-navigation {

    border-color: #333 !important;
    background-color: $menu-bg-color !important;

    .title {
        color: $title-font-color !important;
        background-color: #333 !important;
    }

    .content-type {

        h6 {

            color: $menu-links-color !important;

            i {
                color: $menu-links-icon-color !important;
            }

        }

    }

    .menu-accordion {

        .expand-link {
            color: $menu-items-color;
            background-color: $title-bg-color;
            border-bottom-color: $menu-bg-color;
        }

        .navigation {

        &.common
        {
            display: block;
        }
        display: none;
        list-style: none;

        li {

            //@include clearfix();

            a {

                display: block;
                height: 50px;
                line-height: 50px;
                color: #000 !important;
                font-size: 0.8em;
                padding: 0 0 0 12px;
                background-color: $page-bg-color !important;
                border-left: 3px solid transparent;
                border-bottom: 1px solid $menu-bg-color;
                transition: all 0.5s ease;

                &.sub-menu
                {
                    padding-left:30px;
                }

                .fa {
                    float: left;
                    display: block;
                    width: 30px;
                    font-size: 1.4em;
                    margin-top: 17px;
                    margin-right: 7px;
                    color: #000 !important;
                }

                .plus {

                    display: block;
                    float: right;
                    width: 13px;
                    height: 13px;
                    margin: 17px 1px 0 0;
                    transition: all 0.3s ease;
                    line-height: 10px;
                    text-align: center;
                    font-size: 1.8em;
                    color: $menu-links-icon-color;
                }

                &.active,
                &:hover {

                    border-left: 3px solid $brand-main-color;
                    background-color: $brand-main-color !important;
                    color: $menu-items-hover-color !important;

                    .fa
                    {
                        color: $menu-items-hover-color !important;
                    }
                    .plus {
                        transform: rotate(45deg);
                        transform-origin: 50% 50%;
                    }

                }

                    &:hover
                    {
                       color: $menu-items-hover-color !important;
                    }

            }

            ul {

                margin: 0;
                padding: 0;
                list-style: none;

                &.expanded {
                    display: inline;
                }

                li {

                    a {

                        margin: 0;
                        font-size: 0.83em;
                        background-color: $submenu-bg-color;
                        border-bottom: 1px solid $menu-bg-color;

                        &:before {
                            content: "-";
                            margin-right: 10px;
                            color: #666;
                        }

                        &:hover {
                            background-color: $brand-main-color !important;
                        }

                    }

                }

            }

        }

    }

    }

    li.offline,
    li.online {

        a {

            color: #000;
            background-color: lighten($submenu-bg-color, 15%) !important;
            border-bottom-color: $submenu-bg-color !important;

            .fa {
                color: $menu-links-icon-color;
            }

            .plus {
                color: $menu-links-icon-color;
            }

            &.active,
            &:hover {
                border-left-color: $brand-main-color !important;
                background-color: darken($submenu-bg-color, 10%) !important;
            }


        }

    }

}


////////////////////////////////////////////////////////////////////////////////
