.newspaper-format {
    background: #FFF;
    margin: 25px 30px 105px 30px !important;
    border-radius: 5px;
    padding: 15px 0;
    span.strong {
        font-size: 1rem;
        font-weight: bold;
        color: #4d4d4d;
        margin: 0 0 3px 0;
        display: inline-block;
    }
    button,
    .button {
        margin-bottom: 0;
        padding: 11px 15px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.85em;
        font-weight: bold;
    }
    input.upload {
        display: none;
    }
    .upload_area {
        padding: 0;
        margin: 20px 0;
        // height:210px;
    }
    .img-wrapper {
        position: relative;
        display: inline-block;
        // width: 130px;
        .del {
            background-color: #333;
            text-align: center;
            box-sizing: border-box;
            color: #EEE;
            border: solid 4px #EEE;
            display: block;
            width: 30px;
            line-height: 22px;
            font-size: 1rem;
            position: absolute;
            top: -14px;
            right: -14px;
            border-radius: 20px;
        }
    }
}