.last-buy {
    background-color: #FFF;
    margin: 25px 30px 105px 30px !important;
    border-radius: 5px;
    width: 975px;
    padding: .9375rem;
    select,
    input[type='text'],
    textarea {
        border-radius: 5px !important;
    }
    .button {
        padding: 11px 15px;
        margin: 0;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
        border-radius: 5px;
        margin-left: 10px;
    }
    .label {
        border-radius: 3px !important;
        font-size: 0.85em;
        padding: 3px 7px;
        line-height: 1.3rem;
        box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);
    }
    .strong {
        font-weight: bold;
        color: #4d4d4d;
    }
    #report-form {
        background-color: #ECEDF0;
        .chosen-container {
            margin-bottom: 1rem;
        }
        + p {
            margin-top: 20px;
        }
    }
    #report {
        display: none;
        .search-field input {
            min-width: 120px !important;
        }
        h5 {
            font-weight: bold;
            color: #008ABE;
            margin: 30px 0 20px 0;
            font-size: 16px;
            span {
                font-weight: bold;
            }
        }
    }
    #placeholder {
        margin-top: 20px;
    }
    .accordion {
        + .accordion {
            margin-top: 20px;
        }
        border-radius: 5px 5px 0 0;
        border: solid 1px #CCC;
    }
    .accordion_collapsed {
        border-bottom: solid 1px #CCC;
        border-radius: 5px;
    }
    .accordion_header {
        display: flex;
        align-items: center;
        padding: 2px 10px;
        .displayer {
            margin-left: 10px;
        }
        .displayer_label {
            font-size: 15px;
            color: #999;
            text-transform: capitalize;
        }
        .displayer_value {
            font-size: 15px;
            background-color: transparent;
            font-weight: bold;
        }
    }
    
    .accordion_content_report-last-buy {
        .create-smart-report,
        .download-smart-report {
            margin: 0;
            line-height: 20px; 
            background-color: #fc0;
            color: #000;
            padding: 3px 8px;
            font-size: 1.5em !important;
            i {
                font-size: 14px !important;
                vertical-align: middle;
                line-height: 12px; 
            }
            span {
                font-size: 12px !important;
                font-weight: bold;
                vertical-align: middle;
            }
        }
    }

    // BLOCK
    .box {
        border: solid 1px #CCC;
    }

    // ELEMENTS
    .box__header {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 0 10px;
        .displayer {
            display: flex;
            align-items: center;
        }
        .displayer_label,
        .displayer_value,
        .badge {
            font-size:15px;
        }
        .displayer_total {
            .displayer_value {
                width: 190px;
                padding: 8px 13px;
                font-weight: bold;
                line-height: .9rem;
                font-size: 1.2rem;
            }
        }
        .badge {
            display: flex;
            align-items: center;
        }
        .badge_title {
            width: auto;
            line-height: normal;
            font-size: 15px;
        }
        .badge_type {
            line-height: normal;
            margin-right: 5px;
            i {
                font-size: 1.1rem;
                margin-right: 5px;
            }
        }
    }

    .box__content {
        padding: 10px;
    }
    
    // MODIFIERS
    .box_campaign {
        border-width: 1px 0 0 0;
        border-color: #CCC;
        border-style: solid;
        // + .box_campaign {
        //     border-top-width: 0;
        // }
        .display_advertiser {
            .displayer_label {
                margin-right: 5px;
            }
            .displayer_value {
                background-color: transparent;
                @include ellipsis;
                max-width: 140px;
            }
        }
        > .box__header {
            padding-right: 20px;
            .badge {
                max-width: 200px;
            }
            .badge_title {
                color: #008ABE;
                @include ellipsis;
                min-width: 0;
            }
            .displayer_total {
                .displayer_value {
                    color: #008ABE;
                }
            }
            .display_advertiser {
                .displayer_label {
                    color: #999;
                    text-transform: capitalize;
                    text-align: left;
                }
                .displayer_value {
                    font-weight: bold;
                    color: #000;
                }

            }
        }
    }

    .box_proposal {
        background-color: #EBEBEB;
        + .box_proposal{
            margin-top: 10px;
        }
        > .box__header {
            i {
                color: #008ABE;
            }
            a {
                font-weight: bold;
            }
            a:hover {
                text-decoration: underline;
            }
            .displayer_total {
                .displayer_value {
                    background-color: #FFF;
                }
            }
        }
    }

    .box_proposal-detail {
        background-color: #FFF;
        + .box_proposal-detail {
            margin-top: 10px;
        }
        .box__header {
            padding-bottom: 10px;
        }
        .displayer_total {
            .displayer_value {
                width: 180px;
            }
        }
    }
    
    .product_headers {
        font-size: .8rem;
        display: flex;
        line-height: 25px;
        > div {
            padding: 0 8px;
        }
    }
    
    .product_details {
        font-size: .9rem;
        display: flex;
        line-height: 2.5rem;
        height: 40px;
        + .product_details {
            margin-top: 10px;
        }
        div {
            line-height: 40px;
            padding: 0 8px;
            background-color: #EBEBEB;
        }
        div + div {
            border-left: solid 1px #CCC;
        }
        .column_price,
        .column_qty {
            line-height: 15px;
            padding-top: 7px;
            span {
                line-height: normal;
                font-size: 0.7rem;
                display: block;
                color: #666
            }
        }
    }
    .column_right {
        text-align: right;
    }
    .column_date {
        width: 106px;
    }
    .column_name {
        width: 283px;
    }
    .column_period {
        width: 180px;
    }
    .column_price {
        width: 100px;
    }
    .column_qty {
        width: 80px;
    }
    .column_total {
        width: 130px;
    }
    #report-filters-form {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
            font-size: 15px;
        }
        .displayer_total {
            width: 400px;
            background-color: #E6F8DB;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 55px;
            padding-left: 15px;
            padding-right: 15px;
            .displayer_label {
                font-weight: bold;
                font-size: 15px;
                text-transform: none;
                width: 130px;
            }
            .displayer_value {
                background-color: transparent;
            }
            input {
                border: none;
                font-weight: bold;
                font-size: 1.3rem;
                background-color: transparent;
                text-align: right;
                margin: 0;
                box-shadow: none;
                color: #000;
            }
        }
    }
    .field-bid {
        margin-top: 16px;
        input {
            margin-bottom: 0;
            vertical-align: middle;
        }
    }
    .field-media-type {
        .text {
            display: block;
        }
    }
}

