<div class="page-title">
    <h1><i class="fa fa-crop"></i>Performer</h1>
</div>

<?php echo $this->partial('layout/partial/messages.phtml') ?>

<section class="content">
    <div class="wrapper newspaper-format">
        <div class="form-container">
            <form id="form-performer" method="post" action="/performer/save">
                <div class="form-content">
                <div class="row">
                    <div class="small-6 columns">
                        <label>
                            <span class="strong">Nome</span>
                            <small>*</small>
                            <input type="text" name="name" value="<?php echo ($performer) ? $this->escapeHtml($performer['name']) : ''; ?>">
                        </label>
                        <label for="category">Categorias
                            <select id="category" class="chosen" data-placeholder="Selecione uma ou mais categorias" name="category[]" multiple>
                                <?php foreach ($categories as $category) { ?>
                                    <option value="<?php echo $category['id']; ?>"
                                        <?php
                                        if(!empty($dataCategories)){
                                            foreach ($dataCategories as $o) {
                                                echo $o['category_id'] == $category['id'] ? "selected" : "";
                                            }
                                        }
                                        ?>
                                        ><?php echo $category['name']; ?>
                                    </option>

                                <?php } ?>
                            </select>
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <fieldset>
                            <legend>Site | Facebook</legend>
                            <label>
                                <span class="strong">Site</span>
                                <input type="text" name="site" value="<?php echo ($site) ? $this->escapeHtml($site) : ''; ?>">
                            </label>
                            <label>
                                <span class="strong">Facebook</span>
                                <input type="text" name="facebook" value="<?php echo ($facebook) ? $this->escapeHtml($facebook) : ''; ?>">
                            </label>
                        </fieldset>
                    </div>
                </div>
                
                <div class="form-footer">
                    <div class="row small-collapse">
                        <div class="small-12 columns">
                            <div class="form-actions">
                                <input type="hidden" name="id" value="<?php echo ($performer) ? $performer['id'] : 0; ?>"/>
                                <button id="performer-form-btn" class="button right" type="submit">Salvar</button>
                                <a class="button secondary right" style="margin: 0 20px;" href="javascript:history.back()">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>

<?php
$this->headScript()->appendFile(
   '/vendor/requirejs/require.js', null, array('data-main' => 'pages/application/performer/form')
);
?>
