<?php #NOTIFICATIONS ?>
<div class="notifications">
    <div class="message error">
        <a href="#" class="close">
            <i class="fi-x"></i>
        </a>
        <div class="icon">
            <i class="fi-x rounded"></i>
        </div>
        <div class="info">
            <h3>Erro!</h3>
            <span>Mensagem de erro.</span>
        </div>
    </div>
    <div class="message success">
        <a href="#" class="close">
            <i class="fi-x"></i>
        </a>
        <div class="icon">
            <i class="fi-check rounded"></i>
        </div>
        <div class="info">
            <h3>Sucesso!</h3>
            <span>Mensagem de confirmação.</span>
        </div>
    </div>
    <div class="message loading">
        <a href="#" class="close">
            <i class="fi-x"></i>
        </a>
        <div class="icon">
            <span class="loader loader-quart"> </span>
        </div>
        <div class="info">
            <h3>Aguarde!</h3>
            <span>Carregando informações.</span>
        </div>
    </div>
</div>
<?php #/NOTIFICATIONS ?>

<?php #LOGIN ?>
<div class="login-container">
    <div class="logo"></div>
    <form id="login" method="POST" action="/login">
        <div class="row small-collapse">
            <div class="small-12 column">
                <input type="text" name="email" placeholder="Usuário" class="username">
                <i class="fi-torso"></i>
            </div>
        </div>
        <div class="row small-collapse">
            <div class="small-12 column">
                <input type="password" name="password" placeholder="Senha" class="password">
                <i class="fi-lock"></i>
            </div>
        </div>
        <button type="submit" name="button" class="success">Entrar</button>
    </form>
   
</div>
<?php #/LOGIN ?>

<?php #PASSWORD RECOVERY ?>
<div class="password-recovery-container">
    <div class="logo"></div>
    <span class="instructions">
        Digite o e-mail usado no seu login.<br/>
        Vamos localizar suas informações e lhe enviar um e-mail com as informações para redefinir sua senha.
    </span>
    <form id="password-recovery" method="POST" action="<?= $this->basePath('/user/forgot-password'); ?>">
        <input type="hidden" name="source" value="form"/>
        <div class="row small-collapse">
            <div class="small-12 column">
                <input type="text" name="email" placeholder="E-mail" class="email">
                <i class="fi-mail"></i>
            </div>
        </div>
        <button type="button" name="button" class="warning">Voltar</button>
        <button type="submit" name="button" class="success">Enviar</button>
    </form>
</div>
<?php #/PASSWORD RECOVERY ?>

<?php #FOOTER ?>
<footer class="login-footer">
    © <?php echo date("Y") ?> SampaAgora
</footer>
<?php #/FOOTER ?>

<?php

    $this->headScript()->appendFile(
       '/vendor/requirejs/require.js',
       null,
       array('data-main' => 'pages/application/login/index')
    );

?>
